<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %} {% block title %}About Us{% endblock%} {% block content %}
<!-- include _nav.html -->
{% include "parts/_nav.html" %}
<div class="container pb-4 pt-5">
  <img
    class="d-block mx-auto mb-4 w-50"
    src="{% static 'pictures/logo.png' %}"
    alt="Logo"
  />

  <div class="d-flex flex-column gap-3 p-3 rounded-4 text-black">
    <div class="d-flex flex-column gap-2">
      <h2 class="h2 m-0 fw-bold ps-4">من نحن؟</h2>
      <p class="mb-0 p-0 fs-5 indent-2 text-justify">
        BANKING HUB شركة رائدة تسعى إلى تسهيل المعاملات المالية بين البنوك
        وعملائها, تأسست شركتنا بواسطة مجموعة من الطلاب الجامعيين وأساتذة جامعيين
        كمشروع بحثي في إطار تحقيق شهادة الماستر وفقًا للقرار رقم 1275 المؤرخ في
        27 سبتمبر 2022، المتعلق بمذكرة تخرج مؤسسة ناشئة, نحن نجمع بين الخبرة
        الأكاديمية والشغف الريادي لتقديم حلول مبتكرة وموثوقة في عالم المالية,
        بفضل فريقنا المتميز والمتخصص، نساعد عملائنا على تحقيق أهدافهم المالية
        بكفاءة وثقة, اكتشف ما يمكننا تقديمه لك اليوم
      </p>
      <h2 class="h2 m-0 fw-bold ps-4">أهدافنا:</h2>
      <ul>
        <li class="fs-4 fw-bold">تسهيل المعاملات المالية:</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          نسعى لتبسيط عمليات التعامل بين البنوك وعملائها، وتقديم حلول مبتكرة
          لتسهيل هذه العمليات.
        </p>
        <li class="fs-4 fw-bold">تحقيق رضا العملاء:</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          نسعى جاهدين لتحقيق رضا وراحة عملائنا من خلال تقديم خدمات موثوقة وفعالة
          تلبي احتياجاتهم المالية.
        </p>
        <li class="fs-4 fw-bold">التميز في الخدمة:</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          نحن نهدف إلى تقديم خدمة استثنائية ومتميزة لعملائنا، من خلال فريق عمل
          متخصص ومحترف يسعى دائمًا لتحقيق أعلى مستويات الجودة.
        </p>
        <li class="fs-4 fw-bold">الابتكار والتطوير:</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          نسعى للابتكار والتطوير المستمر لتقديم حلول مالية مبتكرة ومتطورة تلبي
          تطلعات عملائنا وتساهم في تحسين تجربتهم.
        </p>
        <li class="fs-4 fw-bold">دعم روح ريادة الأعمال:</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          نحن ندعم ونشجع روح ريادة الأعمال من خلال دعم المشاريع الناشئة وتوفير
          بيئة ملائمة للابتكار والنمو.
        </p>
      </ul>
      <h2 class="h2 m-0 fw-bold ps-4">رؤيتنا كشركة هي:</h2>
      <p class="mb-0 p-0 fs-5 indent-2 text-justify">
        أن نصبح الوجهة الأولى والمفضلة لعملائنا في عالم الخدمات المالية، من خلال
        تقديم حلول مبتكرة وموثوقة تلبي تطلعاتهم وتساهم في تحقيق أهدافهم المالية
        بثقة وسهولة, وكذلك تحقيق تحول إيجابي في صناعة الخدمات المالية، من خلال
        توفير تجربة متميزة للعملاء تقوم على الابتكار والموثوقية، وتسهم في بناء
        مستقبل مالي مستدام ومزدهر للجميع.
      </p>
      <h2 class="h2 m-0 fw-bold ps-4">فريقنا:</h2>
      <div class="card gap-2">
        <div class="row g-0 p-1">
          <div class="col-md-4">
            <img
              src="{% static 'pictures/البروفيسور مفيد عبد اللاوي.png' %}"
              class="img-fluid rounded team-member-img"
              alt="عبد اللاوي مفيد"
            />
          </div>
          <div class="col-md-8">
            <div
              class="card-body d-flex flex-column justify-content-evenly h-100"
            >
              <h4 class="h4 fw-bold">عبد اللاوي مفيد</h4>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 fs-5">
                  <span class="fw-bold">العمر:</span>
                  <span>44 سنة</span>
                </div>
                <div class="d-flex flex-column">
                  <p class="mb-0 p-0 fs-5 fw-bold">معلومات التواصل:</p>
                  <div class="mb-0 p-0 ps-3 fs-5">
                    <span class="fw-bold">فايس بوك:</span>
                    <span>
                      <a
                        class="d-inline-flex gap-2 align-items-center text-decoration-none"
                        href="https://www.facebook.com/moufid.abdallaoui"
                        ><span>moufid.abdallaoui</span
                        ><i class="fa-brands fa-facebook mb-1"></i
                      ></a>
                    </span>
                  </div>
                  <div class="mb-0 p-0 ps-3 fs-5">
                    <span class="fw-bold">البريد الالكتروني:</span>
                    <span>moufid-abdallaoui@univ-eloued.dz</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3">
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">الوظيفة:</p>
            <p class="mb-0 p-0 fs-5 text-justify">أستاذ (بروفيسور)</p>
          </div>
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">الكلية:</p>
            <p class="mb-0 p-0 fs-5 text-justify">كلية الاقتصاد والأعمال وعلوم إدارة الأعمال</p>
          </div>
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">المختبر:</p>
            <p class="mb-0 p-0 fs-5 text-justify">مختبر النمو والتنمية الاقتصادية في الدول العربية</p>
          </div>
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">المؤهلات الأكاديمية:</p>
            <p class="mb-0 p-0 fs-5 text-justify">أستاذ تعليم عالي قسم علوم التسيير متخصص في إدارة الأعمال. جامعة الوادي، الجزائر
            </p>
          </div>
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">المسؤوليات الإدارية:</p>
            <p class="mb-0 p-0 fs-5 text-justify">مدير دار المقاولاتية بجامعة الوادي سابقا, ممثل قطاع التعليم العالي في اللجنة الولائية لانتقاء وتمويل المشاريع لدى CNAC سابقا.
            </p>
          </div>
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">الاهتمامات البحثية:</p>
            <p class="mb-0 p-0 fs-5 text-justify">مهتم بمجالات ريادة الأعمال والشركات الناشئة</p>
          </div>
        </div>
      </div>
      <div class="card gap-2">
        <div class="row g-0 p-1">
          <div class="col-md-4">
            <img
              src="{% static 'pictures/اشرف بوبكري.jpg' %}"
              class="img-fluid rounded team-member-img"
              alt="أشرف بوبكري"
            />
          </div>
          <div class="col-md-8">
            <div
              class="card-body d-flex flex-column justify-content-evenly h-100"
            >
              <h4 class="h4 fw-bold">بوبكري اشرف</h4>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 fs-5">
                  <span class="fw-bold">العمر:</span>
                  <span>22 سنة</span>
                </div>
                <div class="d-flex flex-column">
                  <p class="mb-0 p-0 fs-5 fw-bold">معلومات التواصل:</p>
                  <div class="mb-0 p-0 ps-3 fs-5">
                    <span class="fw-bold">فايس بوك:</span>
                    <span>
                      <a
                        class="d-inline-flex gap-2 align-items-center text-decoration-none"
                        href="https://www.facebook.com/profile.php?id=100012746026172"
                        ><span>Achraf Boubekri</span
                        ><i class="fa-brands fa-facebook mb-1"></i
                      ></a>
                    </span>
                  </div>
                  <div class="mb-0 p-0 ps-3 fs-5">
                    <span class="fw-bold">البريد الالكتروني:</span>
                    <span>achrefboubekri@gmail.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3">
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">المؤهل الأكاديمي:</p>
            <p class="mb-0 p-0 fs-5 text-justify">
              حاصل على شهادة الليسانس في العلوم الاقتصادية، تخصص اقتصاد نقدي
              وبنكي، وطالب سنة ثانية ماستر اقتصاد بنكي ونقدي من جامعة الوادي.
            </p>
          </div>
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">الخبرة العملية:</p>
            <p class="mb-0 p-0 fs-5 text-justify">
              مطور مواقع ويب متمرس، لديه خبرة عالية في مجال البرمجة. حاصل على
              عدة شهادات تكوينية في البرمجة
            </p>
          </div>
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">
              التدريب والتعليم المستمر:
            </p>
            <p class="mb-0 p-0 fs-5 text-justify">
              حاصل على العديد من الشهادات التكوينية في مجالات متنوعة، بما في ذلك
              الاقتصاد الإسلامي والتمويل الإسلامي والصيرفة الإسلامية, و ريادة
              الأعمال والتسويق الرقمي.
            </p>
          </div>
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">المهارات الفنية:</p>
            <p class="mb-0 p-0 fs-5 text-justify">
              مهارات عالية في البرمجة، وخبرة في تطوير مواقع الويب وتصميمها
              باستخدام مجموعة متنوعة من اللغات والأدوات. كما لديه مهارات تسويقية
              قوية وقدرة على التفاعل مع العملاء.
            </p>
          </div>
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">الأهداف:</p>
            <p class="mb-0 p-0 fs-5 text-justify">
              يسعى إلى استخدام مهاراته وخبراته في مجال البرمجة والتسويق الرقمي
              لتطوير مشاريع رائدة ومبتكرة في عالم الإنترنت، وتحقيق نجاح مستدام
              في مجاله المهني والأكاديمي.
            </p>
          </div>
        </div>
      </div>
      <div class="card gap-2">
        <div class="row g-0 p-1">
          <div class="col-md-4">
            <img
              src="{% static 'pictures/بدر الدين باهي.jpg' %}"
              class="img-fluid rounded"
              alt="باهي بدر الدين"
            />
          </div>
          <div class="col-md-8">
            <div
              class="card-body d-flex flex-column justify-content-evenly h-100"
            >
              <h4 class="h4 fw-bold">باهي بدر الدين</h4>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 fs-5">
                  <span class="fw-bold">العمر:</span>
                  <span>33 سنة</span>
                </div>
                <div class="d-flex flex-column">
                  <p class="mb-0 p-0 fs-5 fw-bold">معلومات التواصل:</p>
                  <div class="mb-0 p-0 ps-3 fs-5">
                    <span class="fw-bold">فايس بوك:</span>
                    <span>
                      <a
                        class="d-inline-flex gap-2 align-items-center text-decoration-none"
                        href="https://www.facebook.com/badr.bahi.18"
                        ><span>Bader Bahi</span
                        ><i class="fa-brands fa-facebook mb-1"></i></a
                    ></span>
                  </div>
                  <div class="mb-0 p-0 ps-3 fs-5">
                    <span class="fw-bold">البريد الالكتروني:</span>
                    <span>bahi.badr@gmail.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3">
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">التعليم:</p>
            <ul class="list-unstyled">
              <li class="fs-5">
                حاصل على شهادة الليسانس في العلوم الاقتصادية، تخصص مالية وبنوك.
              </li>
              <li class="fs-5">حاصل على شهادة ماستر في علوم التسيير.</li>
              <li class="fs-5">
                طالب سنة ثانية ماستر اقتصاد نقدي وبنكي من جامعة الوادي.
              </li>
            </ul>
          </div>
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">الخبرة الوظيفية:</p>
            <p class="mb-0 p-0 fs-5 text-justify">
              مفتش رئيسي في مصلحة الضرائب منذ عام 2014.
            </p>
          </div>
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">نبذة عن الشخص:</p>
            <p class="mb-0 p-0 fs-5 text-justify">
              باهي بدر الدين شاب متحمس وملتزم بمجاله المهني, يتمتع بتعليم متخصص
              في مجالات الاقتصاد والتسيير والبنوك، حيث حصل على شهادة ماستر عززت
              معرفته وخبرته في هذه المجالات, بفضل خبرته الواسعة كمفتش رئيسي في
              مصلحة الضرائب، يمتلك القدرة على التحليل الدقيق واتخاذ القرارات
              الفعّالة فيما يتعلق بالشؤون المالية والضريبية, يتمتع بمهارات تواصل
              ممتازة وقدرة على العمل ضمن فريق وتحت ضغط. كما يسعى دائمًا إلى
              تحقيق النجاح المهني والتطوير المستمر لذاته في مجاله المهني
            </p>
          </div>
        </div>
      </div>
      <div class="card gap-2">
        <div class="row g-0 p-1">
          <div class="col-md-4">
            <img
              src="{% static 'pictures/علال خالد.jpg' %}"
              class="img-fluid rounded"
              alt="علال خالد"
            />
          </div>
          <div class="col-md-8">
            <div
              class="card-body d-flex flex-column justify-content-evenly h-100"
            >
              <h4 class="h4 fw-bold">علال خالد</h4>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 fs-5">
                  <span class="fw-bold">العمر:</span>
                  <span>33 سنة</span>
                </div>
                <div class="d-flex flex-column">
                  <p class="mb-0 p-0 fs-5 fw-bold">معلومات التواصل:</p>
                  <div class="mb-0 p-0 ps-3 fs-5">
                    <span class="fw-bold">فايس بوك:</span>
                    <span>
                      <a
                        class="d-inline-flex gap-2 align-items-center text-decoration-none"
                        href="https://www.facebook.com/"
                        ><span>Bader Bahi</span
                        ><i class="fa-brands fa-facebook mb-1"></i></a
                    ></span>
                  </div>
                  <div class="mb-0 p-0 ps-3 fs-5">
                    <span class="fw-bold">البريد الالكتروني:</span>
                    <span>allalkhaled204@gmail.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3">
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">التعليم:</p>
            <p class="mb-0 p-0 fs-5 text-justify">حاصل على شهادة الليسانس في علوم الكمبيوتر</p>
          </div>
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">الخبرة الوظيفية:</p>
            <p class="mb-0 p-0 fs-5 text-justify">
              محلل جبائي منذ سنة 2022.
            </p>
          </div>
          <div class="d-flex flex-column">
            <p class="mb-0 p-0 fs-5 text-justify fw-bold">نبذة عن الشخص:</p>
            <p class="mb-0 p-0 fs-5 text-justify">علال خالد شاب متحمس وملتزم بمجاله المهني, لديه خبرة واسعة في استخدام جهاز الكمبيوتر، وحاصل على شهادة الليسانس في علوم الكمبيوتر، كما يمتلك القدرة على التحليل الدقيق واتخاذ القرارات الفعّالة, ويتمتع بمهارات تواصل ممتازة وقدرة على العمل ضمن فريق وتحت ضغط. كما يسعى دائمًا إلى تحقيق النجاح المهني والتطوير المستمر لذاته في مجاله المهني والتعليمي
            </p>
          </div>
        </div>
      </div>
      <h2 class="h2 m-0 fw-bold ps-4">تواصل معنا:</h2>
      <ul class="list-unstyled d-flex flex-column gap-2">
        <li class="fs-5 d-flex gap-3">
          <span class="fw-bold">البريد الالكتروني:</span
          ><span>contact@bankinghub.digital</span>
        </li>
        <li class="fs-5 d-flex gap-3">
          <span class="fw-bold">رقم الهاتف:</span><span>23551431(0)213+</span>
        </li>
        <li class="fs-5 d-flex gap-3">
          <span class="fw-bold">صفحة الفيس بوك:</span
          ><span>www.facebook.com</span>
        </li>
        <li class="fs-5 d-flex gap-3">
          <span class="fw-bold">لينكدن:</span><span>www.linkedin.com</span>
        </li>
        <li class="fs-5 d-flex gap-3">
          <span class="fw-bold">تويتر:</span><span>www.twitter.com</span>
        </li>
        <li class="fs-5 d-flex gap-3">
          <span class="fw-bold">انستقرام:</span><span>www.instagram.com</span>
        </li>
        <li class="fs-5 d-flex gap-3">
          <span class="fw-bold">العنوان:</span
          ><span>Lot 035, n° 237, El Oued</span>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
