<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %} {% block title %}Algeria Bank{% endblock%} {% block content %}
<!-- include _nav.html -->
{% include "parts/_nav.html" %}
<div class="container pb-4 pt-5">
  <div class="d-flex flex-column gap-3 p-3 rounded-4 text-black">
    <div class="d-flex flex-column gap-2">
      <ol type="1">
        <li class="fs-3 fw-bold">نشأة بنك الجزائر</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تم إنشاء البنك المركزي الجزائري بموجب القانون رقم 62-144 الذي صوت عليه
          المجلس التأسيسي في 13 ديسمبر 1962، لإنشاء وتحديد النظام الأساسي للبنك
          المركزي.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تم إجراء تعديلات خلال السبعينيات وبداية الثمانينيات، ومع ذلك أصبح
          إصلاح النظام المالي، سواء في طريقة إدارته أو في خصائصه، أمرًا ضروريًا.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          يمثل القانون رقم 86-12 المؤرخ في 19 أوت 1986 الخاص بالنظام المصرفي
          بداية الإصلاح الشامل للنظام المصرفي الجزائري, وبذلك يستعيد البنك
          المركزي صلاحياته من حيث تحديد وتطبيق السياسة النقدية والقرض، في نفس
          الوقت الذي تمت فيه مراجعة علاقاته مع الخزينة العمومية. ومع ذلك، ثبت أن
          هذه التطورات لم تتكيف بشكل جيد مع السياق الاجتماعي والاقتصادي الجديد
          الذي يتسم بإصلاحات عميقة.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          القانون رقم 90-10 المؤرخ في 14 أفريل 1990 الخاص بالنقد والقرض، يعتبر
          أول نص قانوني يؤطر بنك الجزائر و النظام المصرفي الجزائري و يعرفهما
          تعريفا كاملا.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          الأمر رقم 03-11 المؤرخ 26 اوت 2003 بشأن النقد والقرض، ينشؤ بغية إلغاء
          القانون رقم 90-10 المؤرخ 14 أفريل 1990. وكذلك الأمر رقم 10-04 المؤرخ
          26 اوت 2010 الذي يعدل ويكمل الأمر رقم 03-11 المؤرخ 26 اوت 2003 المتعلق
          بالنقد والقرض. وهكذا يمنح القانون استقلالية واسعة، عضوية ووظيفية،
          للبنك المركزي، الذي يسمى الآن بنك الجزائر. يشرف على توجيه، إدارة
          ومراقبة البنك، على التوالي، المحافظ ومجلس الإدارة الذي يرأسه المحافظ
          ورقيبان.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          يتألف مجلس الإدارة من ثلاثة نواب للمحافظ وثلاثة من كبار المسؤولين
          معينين على أساس خبراتهم في الشؤون الاقتصادية والمالية. يعين المحافظ
          بموجب مرسوم رئاسي و يتم تعيين نواب المحافظ الثلاثة بموجب نفس الشروط.
          ويعين أعضاء مجلس الإدارة الآخرين بمرسوم تنفيذي, يعين الرقباء بموجب
          مرسوم رئاسي بناء على اقتراح الوزير المكلف بالمالية, يتمتع مجلس الإدارة
          بالصلاحيات التقليدية المعترف بها لهيئة من هذا النوع.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          في إطار عملية الإصلاحات الاجتماعية والاقتصادية والمالية التي باشرت بها
          السلطات العمومية، أنشأ القانون النقدي والمصرفي رقم 09-23 المؤرخ في 3
          ذو الحجة 1444 الموافق 21 يونيو 2023، الذي ألغى الأمر 03-11 المؤرخ 26
          أغسطس 2003 حيث يهدف القانون إلى تكييف النظام القانوني والتنظيمي
          للاستجابة للتغيرات الاقتصادية والمالية العميقة والتحديات التقنية
          والتكنولوجية والسماح بالانفتاح على جهات فاعلة إقتصادية جدديدة. وينص
          القانون بشكل خاص على تعزيز حوكمة بنك الجزائر والمجلس النقدي والمصرفي
          واللجنة البنكية والبنوك والمؤسسات المالية.
        </p>
        <li class="fs-3 fw-bold">تنظيم بنك الجزائر</li>
        <ul>
          <li class="fs-4 fw-bold">بنك الجزائر</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            لدى البنك الجزائري ما يقرب من 3400 موظف يعملون كل يوم لتحقيق أهداف
            المؤسسة. ومن أجل القيام بمهامه، بنك الجزائر منظم على المستوى المركزي
            في مديريات عامة متكلفة بإدارات الدراسات والتفتيش والأنشطة المصرفية.
            يتكون تنظيم بنك الجزائر أيضًا من مديريتين عامتين تديران جوانب محددة
            تتعلق بإصدار الأوراق النقدية والتكوين المصرفي.
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            لبنك الجزائر شبكة مكونة من 49 وكالة وفرعًا، تضمن له تواجدا فعالا في
            كل ولاية من ولايات الوطن: التنسيق بين الوكالات والفروع تتولاه ثلاث
            مديريات إقليمية تقع في مدن الجزائر العاصمة وهران وعنابة.
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            تم تنفيذ برنامج واسع لتحديث المعدات وأساليب العمل بالإضافة إلى برامج
            التكوين بغية ضمان وجعل النظام المصرفي بشكل عام يلبي متطلبات السياق
            الجديد، على الصعيدين الوطني والدولي.
          </p>
          <li class="fs-4 fw-bold">مجلس إدارة بنك الجزائر</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            بموجب أحكام قانون النقد والقرض، يدير بنك الجزائر مجلس إدارة. يعين
            أعضاء مجلس الإدارة بمجب مرسوم من رئيس الجمهورية بحكم كفاءتهم في
            الشؤون الاقتصادية والنقدية.
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify fw-bold">
            رئيس مجلس إدارة بنك الجزائر
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">صلاح الدين طالب</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify fw-bold">
            أعضاء مجلس إدارة بنك الجزائر
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">معتصم بوضياف</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">عبد الكريم بوزراد</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">كمال مراغني</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">أشرف أمين بن حسين</p>
          <li class="fs-4 fw-bold">المجلس النقدي والمصرفي</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            قانون رقم 23-09 مؤرخ في 3 ذي الحجة عام 1444 الموافق 21 يونيو 2023،
            المتضمن القانون النقدي والمصرفي ينشىء المجلس النقدي والمصرفي الذي
            يتمتع بالسلطة النقدية محددا الأهداف النقدية، وضع شروط الاعتماد
            وإنشاء البنوك والمؤسسات المالية، سن الأنظمة المتعلقة بالمعايير
            والنسب المنطبقة على البنوك والمؤسسات المالية، ونشر الأنظمة في
            الجريدة الرسمية.
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            يتكون مجلس النقد والقرض من محافظ بنك الجزائر بصفته رئيس مجلس النقد
            والقرض، أعضاء مجلس إدارة بنك الجزائر وشخصيتين تختاران بحكم كفاءتهما
            في المسائل الاقتصادية والنقدية. هتان الأخيرتان تعينان عضوين في
            المجلس بموجب مرسوم من رئيس الجمهورية.
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify fw-bold">
            رئيس مجلس النقد والقرض
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">صلاح الدين طالب</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify fw-bold">
            أعضاء مجلس النقد والقرض
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">معتصم بوضياف</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">عبد الكريم بوزراد</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">كمال مراغني</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">أشرف أمين بن حسين</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">عبد القادر هدير</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify fw-bold">
            الأمين العام لمجلس النقد والقرض
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">حنفي سي فضيل</p>
          <li class="fs-4 fw-bold">اللجنة المصرفية</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            يؤسس القانون رقم 23-09 مؤرخ في 3 ذي الحجة عام 1444 الموافق 21 يونيو
            2023، المتضمن القانون النقدي والمصرفي هيئة تدعى اللجنة المصرفية تكلف
            مراقبة مدى احترام البنوك والمؤسسات المالية للأحكام التشريعية
            والتنظيمية المطبقة عليها والمعاقبة على الاختلالات التي تتم معاينتها.
            يرأس اللجنة المصرفية محافظ بنك الجزائر.
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            يؤسس الأمر 03-11 المؤرخ في 26 أوت 2003 المتعلق بالنقد والقرض هيئة
            تدعى اللجنة المصرفية تكلف بمراقبة مدى احترام البنوك والمؤسسات
            المالية للأحكام التشريعية والتنظيمية المطبقة عليها والمعاقبة على
            الاختلالات التي تتم معاينتها.
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            يرأس اللجنة المصرفية محافظ بنك الجزائر وتتكون من ثلاثة أعضاء يختارون
            بحكم كفاءتهم في المجال المصرفي والمالي والمحاسبي، قاضيين منتدبان من
            المحكمة العليا، ومجلس الدولة، ممثل مجلس المحاسبة وممثل من وزارة
            المالية.
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            يعين رئيس الجمهورية أعضاء اللجنة لمدة خمسة سنوات كما تزود اللجنة
            بأمانة عامة بناء على اقتراح منها، حيث يحدد مجلس إدارة البنك
            صلاحياتها وكيفيات تنظيمها وعملها. ر
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify fw-bold">
            رئيس اللجنة المصرفية :
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">صلاح الدين طالب</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify fw-bold">
            أعضاء اللجنة المصرفية :
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">بوعلام طويل</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">محمد عصاص</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">مراد دحيم</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">كريمة مقاري</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">نور الدين قمري</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">عبد القادر جراف</p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify fw-bold">
            الامينة العامة للجنة المصرفية :
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">كريمة بوازني</p>
        </ul>
        <li class="fs-3 fw-bold">مهام بنك الجزائر</li>
        <ul>
          <li class="fs-4 fw-bold">الإشراف المصرفي</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            يضع بنك الجزائر الشروط العامة التي يجوز بموجبها السماح للبنوك
            والمؤسسات المالية الجزائرية والأجنبية بالتأسيس والعمل في الجزائر.
            ويحدد الشروط التي يجوز بموجبها تعديل هذا الإذن أو سحبه.
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            كما يحدد بنك الجزائر جميع المعايير التي يجب على كل بنك الامتثال لها
            في جميع الأوقات.
          </p>
          <li class="fs-4 fw-bold">الاستقرار النقدي</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            تتمثل مهمة بنك الجزائر في ضمان استقرار الأسعار كهدف للسياسة النقدية.
            وتكون مسؤولة عن تنظيم تداول الأموال، وتوجيه ومراقبة توزيع القرض
            بجميع الوسائل المناسبة، وتنظيم السيولة، وضمان الإدارة السليمة
            للالتزامات المالية تجاه البلدان الأجنبية، وتنظيم سوق النقد الأجنبي،
            وضمان أمن النظام المصرفي وصلابته.
          </p>
          <li class="fs-4 fw-bold">أنظمة الدفع</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            يرصد بنك الجزائر أنظمة الدفع ويكفل حسن أدائها وكفاءتها وأمنها. ويتم
            سن القواعد المطبقة على نظم الدفع من خلال أنظمة مجلس النقد والقرض.
          </p>
          <li class="fs-4 fw-bold">تنظيم سوق الصرف</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            ينظم بنك الجزائر سوق الصرف في إطار سياسة الصرف التي اعتمدها مجلس
            النقد والقرض، بما يتوافق مع الالتزامات الدولية للجزائر.
          </p>
          <li class="fs-4 fw-bold">إصدار النقد</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            تفوض الدولة حصرا إلى بنك الجزائر امتياز إصدار العملة الائتمانية، أي
            الأوراق النقدية والقطع المعدنية. يحدد بنك الجزائر العلامات المعترف
            بها للأوراق النقدية أو القطع المعدنية ويحدد إجراءات مراقبة صنعها
            وإتلافها.
          </p>
        </ul>
        <li class="fs-3 fw-bold">الهيكل التنظيمي لبنك الجزائر</li>
        <img
          class="w-100 my-1"
          src="{% static 'pictures/الشكل1-بنك-الجزائر.png' %}"
          alt="الهيكل التنظيمي لبنك الجزائر"
        />
        <li class="fs-3 fw-bold">
          <a
            href="https://www.bank-of-algeria.dz/ar/%d8%a7%d9%84%d8%b1%d8%a6%d9%8a%d8%b3%d9%8a%d8%a9/"
            target="_blank"
            rel="noopener noreferrer"
            >الموقع الالكتروني لبنك الجزائر</a
          >
        </li>
        <li class="fs-3 fw-bold">مقر بنك الجزائر</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          38 Rue Franklin Roosevelt, Sidi M'Hamed 16000، الجزائر
        </p>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
