<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %} {% block title %}Banking Services{% endblock%} {% block content %}
<!-- include _nav.html -->
{% include "parts/_nav.html" %}
<div class="container pb-4 pt-5">
  <div class="d-flex flex-column gap-3 p-3 rounded-4 text-black">
    <div class="d-flex flex-column gap-2">
      <h3 class="h3 m-0 fw-bold ps-4">1- تعريف الخدمات المصرفية</h3>
      <p class="m-0 p-0 fs-5 indent-2 text-justify">
        الخدمات المصرفية هي مجموعة من الخدمات والأنشطة التي يقدمها القطاع
        المصرفي للأفراد والشركات بهدف تلبية احتياجاتهم المالية وإدارة أموالهم
        وتشمل الخدمات المصرفية مجموعة واسعة من الخدمات التي تختلف حسب نوع
        المؤسسة المصرفية وتوجهها الاستراتيجي.
      </p>
    </div>
    <div class="d-flex flex-column gap-2">
      <h3 class="h3 m-0 fw-bold ps-4">2- انواع الخدمات المصرفية</h3>
      <p class="m-0 p-0 fs-5 indent-2 text-justify">
        يمكن تقسيم الخدمات المصرفية الى عدة انواع حسب معاير مختلفة, و لكن هنا
        سوف نعتمد في التقسيم على معايير خاصة بالجزائر
      </p>
      <ol type="أ">
        <li class="fs-4 fw-bold">خدمات مصرفية تقليدية</li>
        <ul>
          <li class="fs-5 fw-bold">تقدم القروض</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            تُعد البنوك مُنظمات تجارية تهدف إلى الربح لذا يُعد تقديم القُروض أحد
            أهم الخدمات التي يتم تقديمها وذلك بهدف جني الفوائد من الأرباح، وتقوم
            البنوك على تقديم القروض قصيرة الأجل ومتوسطة الأجل وطويلة الأجل بعد
            الاحتفاظ بالاحتياطات النقدية.
          </p>
          <li class="fs-5 fw-bold">الدفع بالشيك</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            تعمل البُنوك على توفير شيكات لأصحاب الحسابات بحيث يُمكنهم من سحب شيك
            على البنك من أجل دفع المال، بحيث تقوم البنوك على الدفع للعُملاء بعد
            التحقق من حساباتهم.
          </p>
          <li class="fs-5 fw-bold">تحصيل ودفع أدوات الائتمان</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            تُقدم البُنوك العديد من أدوات الائتمان المُختلفة، مثل: الكُمبيالة
            والسندات والشيكات، بحيث تقوم البنوك على جمع ودفع الأنواع المُختلفة
            من أدوات الائتمان على اعتبارها مُمثل للعُملاء.
          </p>
          <li class="fs-5 fw-bold">صرف العُملات الأجنبية</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            تقوم البنوك بصرف العُملات الأجنبية بالعُملات المحلية من أجل تسوية
            المُستحقات في التجارة الدُولية.
          </p>
          <li class="fs-5 fw-bold">تقديم الاستشارات المالية</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            تعمل البنوك على توظيف خُبراء ماليين وقانونيين يعملون على تقديم
            المشورة للعُملاء فيما يتعلق بالأُمور التي ترتبط بالاستثمار والصناعة
            والتجارة والضرائب.
          </p>
          <li class="fs-5 fw-bold">تسهيلات الضمان البنكي</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            تعمل البنوك التجارية الحديثة على تقديم نفسها كضمان للعميل، ففي حال
            اضطر العميل لإيداع أموال مُعينة في أحد المكاتب الحُكومية أو المحاكم
            فإن البنك يكون هو الضمان لهذا العميل.
          </p>
          <li class="fs-5 fw-bold">تحويل الأموال</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            من خدمات البنوك التي تُقدمها لعُملائها حيث يتم تحويل الأموال من مكان
            لآخر باستخدام الشيكات والحوالات.
          </p>
          <li class="fs-5 fw-bold">بطاقات الائتمان</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            تعمل بطاقات الائتمان على السماح لحاملها بإجراء عمليات شراء للسلع
            والخدمات، من خلال مُزود بطاقة الائتمان الذي يعمل على الدفع الفوري
            للسلع والخدمات، ليتعهد حامل البطاقة بتسديد مبلغ الشراء خلال فترةٍ
            مُعينةٍ من الوقت.
          </p>
          <li class="fs-5 fw-bold">خدمات أجهزة الصراف الآلي</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            تعمل أجهزة الصراف الآلي على تقديم العديد من الخدمات المصرفية
            كالإيداع والسحب والاستعلام عن الحساب.
          </p>
          <li class="fs-5 fw-bold">خدمات بطاقات الخصم</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            وهي البطاقات التي تُمكن حاملها من سحب الأموال إلكترونيًا من حساب
            حامل البطاقة.
          </p>
          <li class="fs-5 fw-bold">خدمات التأمين</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            تنطوي جميع الأعمال على العديد من المخاطر لذا من المُهم القيام على
            إدارة المخاطر بطريقةٍ فعالةٍ، ومن أهم الطُرق هو الحُصول على أنواع
            التأمين المُناسبة، على سبيل المثال: يُمكن تجنب المخاطر المُتعلقة
            بالمُوظفين من خلال: توفير مكان آمن للعمل وتحذير المُوظفين من المخاطر
            وتوفير الأدوات المُناسبة والآمنة لهم، وتختلف خدمات التأمين التي يتم
            تقديمها وفقًا للغرض المرجُو منها.
          </p>
          <li class="fs-5 fw-bold">خدمات الاستثمار</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            تهدف بُنوك الاستثمار إلى ربط المُستثمرين بالأعمال، حيث تقوم البنوك
            الاستثمارية على العمل مع الشركات من خلال بيع السندات التي تُعد من
            أنواع القروض، فالبنوك الاستثمارية تعمل على توزيع السندات من الشركة
            على العُملاء، وتُعرف الخدمات التي تُقدمها هذه البنوك باسم خدمات
            الاستثمار (Investment Banking) التي تُعرف على أنها العمليات المصرفية
            التي تهدف لمُساعدة الأفراد أو المُنظمات من أجل زيادة رأس المال
            وتقديم خدمات الاستشارات المالية لهم، وغيرها من الخدمات المصرفية
            الأُخرى
          </p>
          <p class="fs-5 mb-0 p-0 text-justify">و منها ما ياتي:</p>
          <p class="fs-5 mb-0 p-0 text-justify">
            طرح أسهم الشركات الجديدة للاكتتاب العام
          </p>
          <p class="fs-5 mb-0 p-0 text-justify">تداول المُلكية</p>
          <p class="fs-5 mb-0 p-0 text-justify">تداول الأوراق المالية.</p>
          <p class="fs-5 mb-0 p-0 text-justify">
            تقديم الاستشارات المُتعلقة بعمليات الاندماج والاستحواذ
          </p>
          <p class="fs-5 mb-0 p-0 text-justify">
            تقديم التمويل بالرافعة المالية الذي يعمل على إقراض الأموال للشركات
            من أجل شراء الأصول وتسوية عمليات الاستحواذ
          </p>
          <li class="fs-5 fw-bold">خدمات تبديل العملات</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            يقوم العديد من الأشخاص على تبادل العُملات من أجل استخدامهم الشخصي
            على اعتباره جُزء من عملياتهم التجارية الخاصة بشركاتهم أو من أجل
            التداول في الأسواق المالية، حيث يُعرف الفرق في السعر بين العُملتين
            باسم سعر الصرف، وتقوم البنوك الكبيرة على تقديم خدمات تبديل العملات
            (Currency Exchange1) من خلال إدارة التبادلات الإلكترونية بينما تقوم
            البنوك الصغيرة على شراء وبيع العُملات من إحدى البورصات المحلية، ومن
            خدمات تبديل العملات التي تُقدمها البُنوك ما يأتي:
          </p>
          <p class="fs-5 mb-0 p-0 text-justify">
            شراء العُملات أو بيعها وفق سعر الصرف الحالي أو الآجل.
          </p>
          <p class="fs-5 mb-0 p-0 text-justify">
            توفير العديد من خيارات صرف العُملات الأجنبية.
          </p>
          <li class="fs-5 fw-bold">السحب على المكشوف</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            في بعض الأحيان يقدم البنك تسهيلات السحب على المكشوف لعملائه والتي من
            خلالها يسمح لهم بسحب أكثر من ودائعهم يتم تحصيل الفائدة من العملاء
            على المبلغ المسحوب السحب على المكشوف من البنك يختلف عن الائتمان
            النقدي.
          </p>
          <li class="fs-5 fw-bold">خصم الكمبيالات</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            يعد خصم الكمبيالات نوعًا آخر شائعًا من الإقراض البنوك الحديثة ومن
            خلال هذه الطريقة يحصل حامل أ فاتورة الصرف يمكن الحصول عليها مخفضة من
            قبل البنك في فاتورة الصرف يقبل المدين الكمبيالة المسحوبة عليه من
            الدائن (أي، صاحب الكمبيالة) ويوافق على دفع المبلغ المذكور عند
            الاستحقاق, وبعد إجراء بعض الاستقطاعات الهامشية (على شكل عمولة)، يقوم
            البنك بدفع قيمة الكمبيالة لحاملها. عندما يحين موعد استحقاق
            الكمبيالة، يحصل البنك على دفعها من الطرف الذي قبل الكمبيالة.
          </p>
        </ul>
        <li class="fs-4 fw-bold">خدمات مصرفية الكترونية</li>
        <p class="fs-5 mb-0 p-0 text-justify">
          تُعرف الخدمات المصرفية الإلكترونية بأنها إجراء المعاملات المصرفية
          المختلفة عبر استخدام أجهزة الحاسوب والاتصالات بدلًا من التفاعل البشري،
          إذ يتم من خلالها تحويل الأموال عبر تبادل الإشارات الإلكترونية بدلًا من
          تبادل النقد أو الشيكات أو المستندات الورقية الأخرى بين المؤسسات
          المالية المختلفة أو بين المؤسسات المالية والتجارية.
        </p>
        <p class="fs-5 mb-0 p-0 text-justify">
          تعتمد الخدمات المصرفية الإلكترونية على أنظمة الحاسوب المعقدة والتي
          تتواصل معًا عبر خطوط الهاتف، إذ تسجل الأنظمة الحاسوبية التحويلات
          المالية كافة وملكية الأموال للأفراد، وتتحكم في الطرق التي يمكن للعملاء
          والمؤسسات التجارية الوصول من خلالها إلى الأموال، سواء من خلال أجهزة
          الصراف الآلي أو بطاقات الائتمان أو غيرها.
        </p>
        <ul>
          <li class="fs-5 fw-bold">الخدمات المصرفية عبر الإنترنت</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            والتي يمكن للعملاء من خلالها إجراء العديد من المعاملات النقدية وغير
            النقدية باستخدام الإنترنت، وذلك عبر موقع البنك نفسه أو من خلال
            التطبيق الخاص به.
          </p>
          <li class="fs-5 fw-bold">الخدمات المصرفية عبر الهاتف المحمول</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            والتي تتم بشكل أساسي من خلال التطبيق الخاص بالبنك، إذ وفرت معظم
            البنوك تطبيقات خاصة بها للهواتف المحمولة، والتي تمكن العملاء من
            إجراء معاملاتهم المصرفية المختلفة، كل ما يلزمهم هو هاتف محمول واتصال
            بالإنترنت وتطبيق البنك وإتاحة الخدمات المصرفية على الهاتف.
          </p>
          <li class="fs-5 fw-bold">ماكينة الصراف الآلي (ATM)</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            تعد ماكينة الصراف الآلي من أكثر الخدمات المصرفية شيوعًا، وهي ليست
            مجرد آلة لسحب الأموال من خلالها، وإنما يمكن استخدامها لإجراء العديد
            من الخدمات المصرفية؛ كالتحقق من حالة الحساب، وتحويل الأموال، وإيداع
            الأموال، وتغيير المعلومات الخاصة بالعميل؛ كرقم هاتفه، ورقم التعريف
            الشخصي لبطاقته البنكية.
          </p>
          <li class="fs-5 fw-bold">بطاقة الفيزا</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            وهي من أكثر البطاقات التي يستخدمها الأفراد في حياتهم اليومية، والتي
            ترتبط مباشرة بالحسابات المصرفية الخاصة بهم، بحيث يمكن للعميل من
            خلالها إجراء العديد من معاملات البيع والشراء؛ كالتسوق عبر الإنترنت،
            أو السحب من أجهزة الصراف الآلي، أو الدفع للمؤسسات التجارية، بحيث
            تخصم تلك المبالغ المسحوبة من حسابه مباشرة.
          </p>
          <li class="fs-5 fw-bold">بطاقة الائتمان</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            البطاقات الائتمانية هي بطاقات تصدرها البنوك لعملائها لغايات الدفع
            والشراء بناءً على طلبهم، والتي تمكنهم من اقتراض الأموال وفقًا لحد
            معين يضعه البنك، ولا يخصم المبلغ المسحوب من حساب العميل مباشرة،
            وإنما يبقى في ذمته على أن يدفعه للبنك في غضون فترة زمنية محددة مع
            بعض الرسوم الإضافية مقابل استخدام تلك البطاقة.
          </p>
          <li class="fs-5 fw-bold">التحويل الإلكتروني للأموال</li>
          <p class="fs-5 mb-0 p-0 text-justify">
            والذي يتم من خلالها تحويل الأموال من حساب بنكي إلى آخر عبر الإنترنت
            للبنك نفسه أو لبنوك أخرى أو مؤسسات تجارية أخرى، وهي تغطي مجموعة من
            الخدمات الأخرى؛ كالودائع المباشرة للأموال
          </p>
          <li class="fs-5 fw-bold">خدمات مصرفية اسلامية</li>
          <ul>
            <li class="fs-5 fw-bold">خدمات مصرفية أئتمانية</li>
            <p class="fs-5 mb-0 p-0 text-justify">المرابحة</p>
            <p class="fs-5 mb-0 p-0 text-justify">الإجارة</p>
            <p class="fs-5 mb-0 p-0 text-justify">الإجارة المنتهية بالتمليك</p>
            <p class="fs-5 mb-0 p-0 text-justify">الإجارة الموصوفة بالذمة</p>
            <p class="fs-5 mb-0 p-0 text-justify">بيع السلم</p>
            <p class="fs-5 mb-0 p-0 text-justify">الاستصناع</p>
            <p class="fs-5 mb-0 p-0 text-justify">المضاربة</p>
            <p class="fs-5 mb-0 p-0 text-justify">المشاركة</p>
            <p class="fs-5 mb-0 p-0 text-justify">القرض الحسن</p>
            <li class="fs-5 fw-bold">خدمات مصرفية لا تشمل عمليات ائتمانية</li>
            <p class="fs-5 mb-0 p-0 text-justify">الحسابات</p>
            <p class="fs-5 mb-0 p-0 text-justify">الحسابات الجارية</p>
            <p class="fs-5 mb-0 p-0 text-justify">الودائع لأجل</p>
          </ul>
        </ul>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
