<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %} {% block title %}Fiscal Policy{% endblock%} {% block content %}
<!-- include _nav.html -->
{% include "parts/_nav.html" %}
<div class="container pb-4 pt-5">
  <div class="d-flex flex-column gap-3 p-3 rounded-4 text-black">
    <div class="d-flex flex-column gap-2">
      <h3 class="h3 m-0 fw-bold ps-4">1- مفهوم السياسة المالية</h3>
      <p class="mb-0 p-0 fs-5 indent-2 text-justify">
        هي مجموعة الإجراءات المتخذة من قبل السلطات الحكومیة لتعدیل حجم النفقات
        العامة أوالحصیلة الضریبیة من أجل تحقیق أهداف اقتصادیة معینة
      </p>
      <h3 class="h3 m-0 fw-bold ps-4">2- أهداف السياسة المالية</h3>
      <ul>
        <li class="fs-5">
          الاستخدام الأمثل للموارد الاقتصادية والوصول إلى مستوى التوظيف التام.
        </li>
        <li class="fs-5">تحقيق الاستقرار في المستوى العام للأسعار.</li>
        <li class="fs-5">رفع معدلات النمو الاقتصادي</li>
        <li class="fs-5">
          العمل على إعادة توزيع الدخل بشكل عادل وتحقيق رفاهية المجتمع
        </li>
        <li class="fs-5">زيادة الناتج القومى</li>
        <li class="fs-5">رفع مستوى الدخول لألفراد وبالتالى رفع مستوى معيشته</li>
      </ul>
      <h3 class="h3 m-0 fw-bold ps-4">3- أدوات السیاسة المالیة</h3>
      <p class="mb-0 p-0 fs-5 indent-2 text-justify">
        یقصد بها تلك الأدوات التي تستخدمها الدولة من خلال استخدام أدوات المالیة
        العامة من أجل دفع عجلة النشاط الاقتصادي وتحقیق أهداف السیاسة المالیة، إذ
        نجد أن السیاسة المالیة أصبحت تأخذ دورا وظیفیا و لم تعد محایدة، فقد أصبحت
        أداة اقتصادیة هامة للتأثیر على النشاط الاقتصادي عن طریق التغییر في مستوى
        الطلب الكلي في الاقتصاد و یمكن تقسیم أدوات السیاسة المالیة إلى مكونین
        أساسین:
      </p>
      <ol>
        <li class="fs-5 fw-bold">الإنفاق الحكومي</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          النفقة هي مبلغ نقدي یخرج من الذمة المالیة للدولة أو أحد تنظیماتها بقصد
          تحقیق حاجة عامة، ویشتمل على الإنفاق على كافة السلع والخدمات مثل شراء
          المعدات الحربیة، و الإنفاق على كل المرافق والخدمات العامة. ویحدد
          الإنفاق الحكومي الوزن النسبي لكل من القطاع العام والقطاع الخاص في
          الدولة، ویمثل الإنفاق العام أحد مكونات الطلب الكلي، ومن خلال تغییر
          الإنفاق الحكومي یتم التأثیر في مستوى الطلب الكلي، وبالتالي، التأثیر في
          مستوى الناتج القومي ومستوى التوظيف والمستوى العام للأسعار.
        </p>
        <li class="fs-5 fw-bold">الضرائب</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          وتتضمن كلاً من الضرائب المباشرة والضرائب غیر المباشرة. وتختص الأولى
          بتلك الضرائب التي تفرض على دخول الأفراد، والثانیة هي تلك التي تفرض على
          السلع والخدمات. ویؤثر تغییر الضرائب في الطلب الكلي ـبصورة غیر مباشرة ـ
          من خلال التأثیر في مستوى الاستهلاك والاستثمار اللذان یمثلان مكونین
          رئیسیین من مكونات الطلب الكلي، وبالتالي، یؤثر هذا في مستوى الناتج
          القومي ومستوى التوظيف والمستوى العام للأسعار وغیرها.
        </p>
      </ol>
      <h3 class="h3 m-0 fw-bold ps-4">4- اتجاهات السياسة المالية</h3>
      <p class="mb-0 p-0 fs-5 indent-2 text-justify">
        هناك اتجاهان للسیاسة المالیة أحدهما توسعي والآخر انكماشي:
      </p>
      <ul>
        <li class="fs-4 fw-bold">الاتجاه التوسعي:</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          ویسمى بالسیاسة المالیة التوسعیة ویظهر هذا الاتجاه عندما یعاني الاقتصاد
          من حالة الركود أو الكساد، حیث یكون هناك انخفاض في مستوى التوظيف،
          وتراجع في معدل نمو الناتج، ویعزي ذلك إلى قصور الطلب الكلي، ولذا یتطلب
          الأمر إتباع سیاسة مالیة توسعیة تهدف إلى زیادة الطلب الكلي، وبالتالي،
          زیادة مستوى تشغیل الموارد العاطلة والارتفاع بمستوى التوظيف، مما یترتب
          علیه زیادة في مستوى الإنتاج والدخل، وبالتالي، ارتفاع معدل النمو في
          الدخل، والقضاء على البطالة. ویتم ذلك من خلال:
        </p>
        <ul>
          <li class="fs-4 fw-bold">زیادة الإنفاق الحكومي؛</li>
          <li class="fs-4 fw-bold">تخفیض الضرائب؛</li>
          <li class="fs-4 fw-bold">المزج بین الأداتین معاً .</li>
        </ul>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          ویترتب على هذه الوسائل السابقة للسیاسة المالیة التوسعیة زیادة الطلب
          الكلي بحیث یتساوى مع العرض الكلي عند مستوى التوظیف الكامل، وبالتالي،
          یزداد مستوى الدخل ویتم علاج قصور مستوى التشغیل والبطالة بالمجتمع.
        </p>
        <li class="fs-4 fw-bold">الاتجاه الانكماشي:</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          ویسمى بالسیاسة المالیة الانكماشیة, ویظهر هذا الاتجاه عندما یعاني
          الاقتصاد من ارتفاع في المستوى العام للأسعار أي ارتفاع معدل التضخم، وما
          یترتب على ذلك من عدید من الآثار السلبیة المتمثلة في اختلال توزیع الدخل
          والثروة بین فئات المجتمع، وسوء توجیه الاستثمارات، واختلال في معدلات
          نمو الناتج فیما بین القطاعات المختلفة وغیرها من الآثار السلبیة الأخرى،
          ویكون ذلك ناتج عن زیادة الطلب الكلي. فعندما یكون الطلب الكلي أعلى من
          مستوى الناتج عند مستوى التوظیف الكامل، تتجه الأسعار إلى الارتفاع، لذا
          یتطلب الأمر تدخل الحكومة بإتباع سیاسة مالیة انكماشیة لإزالة فائض الطلب
          الكلي والحد من التضخم في المجتمع، وبالتالي، تحقیق الاستقرار في مستوى
          الأسعار، ویتم ذلك من خلال:
        </p>
        <ul>
          <li class="fs-4 fw-bold">تخفیض الإنفاق الحكومي؛</li>
          <li class="fs-4 fw-bold">زیادة الضرائب؛</li>
          <li class="fs-4 fw-bold">المزج بین الأداتین معاً .</li>
        </ul>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          ویترتب على هذه الوسائل السابقة تخفیض الطلب الكلي بحیث یتعادل مع العرض
          الكلي عند مستوى الدخل المناظر لمستوى التوظیف الكامل.
        </p>
      </ul>
      <h3 class="h3 m-0 fw-bold ps-4">
        5- الفرق بين السياسة المالية والسياسة النقدية
      </h3>
      <p class="mb-0 p-0 fs-5 indent-2 text-justify">
        تعد السياسة النقدية والسياسة المالية أداتين يعتمد عليهما إلى حد كبير في
        إنعاش النمو الاقتصادي والسيطرة على التضخم، ويختلط الأمر على الكثيرين
        بأنهما عبارة عن سياسة واحدة، وهذا غير صحيح ، والفرق بينهما على النحو
        التالي:
      </p>
      <ul>
        <li class="fs-5">
          السياسة المالية هي الأنشطة التي تقوم بها الحكومة أو الجهاز التنفيذي
          داخل الدولة، بينما السياسة النقدية هي الأنشطة التي يقوم بها البنك
          المركزي داخل الدولة.
        </li>
        <li class="fs-5">
          تتعلق السياسة المالية بالإنفاق الحكومي والضرائب، بينما تتعلق السياسة
          النقدية بضخ أو كبح الأموال داخل الدولة.
        </li>
        <li class="fs-5">
          تهتم السياسة المالية بقياس النفقات الحكومية والضرائب، بينما تهتم
          السياسة النقدية بقياس أسعار الفائدة.
        </li>
        <li class="fs-5">
          تؤثر السياسة المالية في عجز الميزانية، بينما تؤثر السياسة النقدية على
          تكلفة الاقتراض والرهون العقارية.
        </li>
        <li class="fs-5">
          يعمل البنك المركزي بموجب السياسة النقدية بإستقلالية وشفافية وبمعزل عن
          عمل الحكومة بموجب السياسة المالية.
        </li>
        <li class="fs-5">
          كلا السياستين المالية والنقدية يستطيعان التأثير على حجم ومستوى الطلب
          الكلي من خلال قنوات مختلفة ولا يمكن استبدالهم، بل ويتم التنسيق فيما
          بينهم بهدف تحقيق النمو الاقتصادي.
        </li>
      </ul>
      <h3 class="h3 m-0 fw-bold ps-4">6- محددات صياغة السياسة المالية</h3>
      <p class="mb-0 p-0 fs-5 indent-2 text-justify">
        يتطلب بناء سياسة مالية توفر مجوعة من المحددات وهي :
      </p>
      <ul>
        <li class="fs-5">
          وجود جهاز بنكي قادر على تطبيق السياسة النقدية التي تخدم السياسة
          المالية.
        </li>
        <li class="fs-5">
          الاستفادة من التطور والتقدم العلمي واستخدامه في عمل المؤسسات العامة.
        </li>
        <li class="fs-5">
          درجة الوعي الضريبي في المجتمع ووجود جهاز إداري كفء.
        </li>
        <li class="fs-5">
          توفر سوق مالي من شأنه أن يرفع من فعالية السياسات المالية والنقدية.
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
