<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %} {% block title %}General Info{% endblock%} {% block content %}
<!-- include _nav.html -->
{% include "parts/_nav.html" %}
<div class="container pb-4 pt-5">
  <div class="d-flex flex-column gap-3 p-3 rounded-4 text-black">
    <div class="d-flex flex-column gap-2">
      <ol type="1">
        <li class="fs-3 fw-bold">تعريف البنوك التجارية</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          هي نوع من أنواع المؤسسات المالية التي يرتكز نشاطها علي قبول الودائع
          ومنح القروض ، والبنوك التجارية بهذا المفهوم تعتبر وسيطا بين الأشخاص
          الذين لديهم أموال فائضة والأشخاص الذين يحتاجون تلك الأموال
        </p>
        <li class="fs-3 fw-bold">انواع البنوك</li>
        <ul>
          <li class="fs-4 fw-bold">البنك المركزي :</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            يقوم بالإشراف على السياسة الائتمانية في الدولة، ويصدر أوراق
            البنكنوت، ويحدد حجم المعروض منها، ويراقب أعمال البنوك التجارية ويقوم
            بأعمال المستشار النقدي للدولة، ويحتفظ بحساباتها ويسهل جميع عملياتها
            المصرفية.
          </p>
          <li class="fs-4 fw-bold">بنوك الاستثمار :</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            تقوم بتوظيف أموالها في المشروعات التجارية والصناعية لأجل طويل،
            والاشتراك في إنشاء شركات، وأقراضها لمدة طويلة،
          </p>
          <li class="fs-4 fw-bold">البنوك الإسلامية :</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            تقوم بقبول الودائع تحت الطلب والودائع لأجل مثل البنوك التجارية إلا
            أنها تختلف عن البنوك التجارية في طريقة توظيف الأموال، حيث أن البنوك
            التجارية تعتبر الفائدة أساس التعامل، في حين أن البنوك الإسلامية
            تعتمد على المضاربة الإسلامية (المشاركة) في توظيف أموالها ويعتبر هذا
            البنك من البنوك التجارية بالنظر إلى الطبيعة الغالبة للنشاط الذي
            يزاوله.
          </p>
          <li class="fs-4 fw-bold">البنوك المتخصصة :</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            تتميز هاته البنوك بتخصصها في مجال واحد للقيام بمختلف انشطتها فيه
            ويمكن تقسيم البنوك المتخصصة من حيث عمليات التمويل التي تقوم بها إلى
            الأنواع التالية :
          </p>
          <ul>
            <li class="fs-4 fw-bold">البنوك الصناعية :</li>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              تقوم بتقديم السلف والقروض ومساعدة الصناع للقيام بأعمالهم على أتم
              وجه ورفع مستوى الصناعة والمساهمة في إنشاء شركات صناعية
            </p>
            <li class="fs-4 fw-bold">البنوك الزراعية :</li>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              تقوم هذه البنوك بمنح سلف للمزارعين لمدة قصيرة بضمان المحاصيل
              للقيام بأعمال الزراعة،
            </p>
            <li class="fs-4 fw-bold">البنوك العقارية :</li>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              توظف أموالها في منح قروض ذات آجال مقابل رهن عقاري بضمان أراض
              زراعية وذلك لاستصلاح الأراضي أو بناء عقارات.
            </p>
            <li class="fs-4 fw-bold">بنوك الادخار :</li>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              تقوم بإقراض المشتركين في رأس مالها مالها بفوائد متعادلة.
            </p>
            <li class="fs-4 fw-bold">البنوك التجارية :</li>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              تقوم بقبول الودائع وتوظيف النقود بأنواعها لمدة قصيرة لا تزيد في
              الغالب عن السنة ومن أهم أعمالها : خصم الأوراق التجارية، والتسليف
              بضمان أوراق مالية أو بضائع وفتح الاعتمادات.
            </p>
          </ul>
        </ul>
        <li class="fs-3 fw-bold">انواع البنوك التجارية</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تنقسم البنوك التجارية إلى أنواع متعددة طبقا للزاوية التي يتم من خلالها
          النظر إلى البنوك وذلك على النحو التالي:
        </p>
        <ul>
          <li class="fs-5 fw-bold">
            من حيث نشاطها ومدى تغطيتها للمناطق الجغرافية :
          </li>
          <ul>
            <li class="fs-5">
              البنوك التجارية العامة : ويقصد بها تلك البنوك التي يقع مركزها
              الرئيسي في العاصمة أو في إحدى المدن الكبرى. وتباشر نشاطها من خلال
              فروع أو مكاتب على مستوى الدولة أو خارجها. وتقوم هذه البنوك بكافة
              الأعمال التقليدية للبنوك التجارية، و تمنح الائتمان –قصير ومتوسط
              الأجل-، كذلك فهي تباشر كافة مجالات الصرف الأجنبي وتمويل التجارة
              الخارجية.
            </li>
            <li class="fs-5">
              البنوك التجارية المحلية : ويقصد بها تلك البنوك التي يقتصر نشاطها
              على منطقة جغرافية محدودة نسبية مثل مدينة أو ولاية أو إقليم
              محدد.ويقع المركز الرئيسي للبنك والفروع في هذه المنطقة المحددة. و
              تتميز هذه البنوك بصغر الحجم، كذلك فهي ترتبط بالبيئة المحيطة بها
              وينعكس ذلك على مجموعة الخدمات المصرفية التي تقوم بتقديمها.
            </li>
          </ul>
          <li class="fs-5 fw-bold">من حيث حجم النشاط :</li>
          <ul>
            <li class="fs-5">
              بنوك الجملة : ويقصد بها تلك البنوك التي تتعامل مع كبار العملاء و
              المنشآت الكبرى.
            </li>
            <li class="fs-5">
              بنوك التجزئة : وهي عكس النوع السابق حيث تتعامل مع صغار العملاء،
              والمنشآت الصغرى لكنها تسعى لاجتذاب أكبر عدد منهم. وتتميز هذه
              البنوك بما تتميز به متاجر التجزئة، فهي منتشرة جغرافيا، وتتعامل
              بأصغر الوحدات المالية قيمة من خلال خلق المنافع الزمنية والمكانية،
              ومنفعة التملك، والتعامل للأفراد، وبذلك فإن التجزئة تسعى إلى توزيع
              خدمات البنك من خلال المستهلك النهائي.
            </li>
          </ul>
          <li class="fs-5 fw-bold">من حيث عدد الفروع :</li>
          <ul>
            <li class="fs-5">
              البنوك ذات الفروع : وهي بنوك تتخذ في الغالب شكل شركات المساهمة
              كشكل قانوني, لها فروع متعددة تغطي أغلب أنحاء الدولة ولاسيما
              الأماكن الهامة، وتتبع اللامركزية في تسيير أمورها حيث يترك للفرع
              تدبير شؤونه، فلا يرجع للمركز الرئيسي للبنك إلا فيما يتعلق بالأمور
              الهامة التي ينص عليها في لائحة البنك، وبطبيعة الأمور فإن المركز
              الرئيسي يضع السياسة العامة التي تهتدي بها الفروع. وتميل هذه البنوك
              إلى التعامل في القروض قصيرة الأجل (سنة فأقل) وذلك لتمويل رأس المال
              العامل لضمان سرعة استرداد القرض. وإن كانت تتعامل أيضا في القروض
              متوسطة الأجل وكذلك طويلة الأجل ولكن بدرجة محدودة.
            </li>
            <li class="fs-5">
              بنوك السلاسل : وهي عبارة عن سلسلة من البنوك نشأت نتيجة لنمو حجم
              البنوك التجارية، وزيادة حجم نشاطها واتساع نطاق أعمالها وتتكون
              السلسلة من عدة فروع منفصلة عن بعضها إداريا، ولكن يشرف عليها مركز
              رئيسي واحد يقوم برسم السياسات العامة التي تلتزم مختلف وحدات
              السلسلة بها، كذلك فهو ينسق بين الوحدات وبعضها، ولا يوجد هذا النوع
              من البنوك التجارية إلا في الولايات المتحدة الأمريكية.
            </li>
            <li class="fs-5">
              بنوك المجموعات : وهي تأخذ شكل شركة قابضة تدير مجموعة من الشركات
              التابعة التي تعمل في النشاط المصرفي، حيث تقوم الشركة القابضة
              بالإشراف على الشركات التابعة وتضع لها السياسات العامة بينما تترك
              لها تنفيذ هذه السياسات بشكل لا مركزي. وتأخذ هذه البنوك طابعا
              احتكاريا، ولقد انتشرت هذه البنوك في أوربا الغربية والولايات
              المتحدة الأمريكية.
            </li>
            <li class="fs-5">
              البنوك الفردية : تقوم هذه البنوك على ما يتمتع أصحابها من ثقة،
              وبطبيعة الحال فإنها منشأة فردية تكون محدودة رأس المال، ولذلك فهي
              سوف تتعامل في المجالات –قصيرة الأجل- ثم توظيف الأموال في الأوراق
              المالية والأوراق التجارية المخصومة، وغير ذلك من الأصول عالية
              السيولة والتي يمكن تحويلها إلى نقود بسرعة وبدون خسائر، ومن أمثلتها
              مؤسسة الراجحي المصرفية بالمملكة العربية السعودية، فهي عبارة عن بنك
              فردي.
            </li>
          </ul>
        </ul>
        <li class="fs-3 fw-bold">وظائف البنوك التجارية</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تتنوع وظائف البنوك التجارية بين وظائف تقليدية ووظائف حديثة ويمكن ذكر
          أهم هذه الوظائف كما يلي :
        </p>
        <ul class="list-unstyled">
          <li class="fs-5 fw-bold">
            أولا : الوظائف التقليدية للبنوك التجارية :
          </li>
          <ul>
            <li class="fs-5">
              قبول الودائع : ويعني ذلك الاحتفاظ بودائع الأفراد والمؤسسات
              والشركات وتنمية تلك الودائع ، حيث تكون تلك الودائع في شكل ودائع
              حسابات جارية تحت الطلب ولا تدفع عنها فائدة باعتبارها ترتبط
              بأصحابها علي ذمة الاحتفاظ بها ووضعها تحت تصرفهم في أي وقت . أو تتم
              في شكل ودائع لأجل ، أي لا يستطيع أصحابها التصرف فيها إلا بعد مضي
              وقت معين ، فهي تمثل حسابات آجلة وتدفع عنها فوائد مقابل التنازل من
              أصحابها عن حق استخدامها في أي وقت . ولا تظل النقود المودعة لدي
              البنوك عاطلة ، وإنما يستخدم الجزء الأكبر منها في عمليات ائتمانية ،
              والجدير بالذكر أن للودائع عدة أنواع منها الحسابات الجارية والودائع
              لأجل وودائع صناديق التوفير .
            </li>
            <li class="fs-5">
              خصم الأوراق التجارية : وتتمثل أساساً في الكمبيالات التي تعتبر أداة
              هامة للائتمان التجاري وتؤدى غلى تنشيط وتسيير المعاملات . وقد تكون
              هذه الأوراق قابلة للدفع بعد فترة من الزمن ، في حين أن المستفيد
              يحتاج إلى نقودها لمباشرة أعماله ، فيتقدم بها لأحد البنوك التجارية
              التي يقوم بخصمها ، أي يعطيه الخصم بعد استنزال الخصم وهو يمثل
              الفوائد عن المدة المتبقية قبل استحقاقها بالإضافة إلى عمولة يحصلها
              البنك مقابل قيامه بهذه العملية .
            </li>
            <li class="fs-5">
              الاستثمار في الأوراق المالية : وهي الأسهم والسندات ، حيث تقدم
              البنوك علي شرائها عندما تتوقع ارتفاع أسعارها ، وبالعكس تبيع ما
              لديها من أوراق المالية إذا توقعت انخفاضاً في أسعارها . ويسمي
              الاستثمار في هذه الحالة بالاستثمار غير المباشر ، أما إذا ساهمت
              البنوك مباشرة في إنشاء بعض المشروعات فيصبح الاستثمار مباشراً ، وهو
              ما يحدث بنسبة معينة .
            </li>
          </ul>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            إضافة إلى ذلك وضمن الوظائف التقليدية تقوم البنوك التجارية بتشغيل
            مواردها ومن أهم أشكال التشغيل ما يلي :
          </p>
          <ul>
            <li class="fs-5">
              منح القروض والسلف المختلفة وفتح الحساات الجارية المدينة .
            </li>
            <li class="fs-5">
              تمويل التجارة الخارجية من خلال فتح الاعتمادات المستندية .
            </li>
            <li class="fs-5">تقديم الكفالات وخطابات ضمان للعملاء .</li>
            <li class="fs-5">
              التعامل بالعملات الأجنبية بيعاً وشراءاً ، الشيكات السياحية ،
              الحوالات الداخلية والخارجية .
            </li>
            <li class="fs-5">
              تحصيل الشيكات المحلية عن طريق غرف المقاصة ، وصرف الشيكات المسحوبة
              عليها .
            </li>
            <li class="fs-5">
              تأجير الخزائن الآمنة لعملائها لحفظ المجوهرات والمستندات والأشياء
              الثمينة .
            </li>
          </ul>
          <li class="fs-5 fw-bold">
            ثانياً : الوظائف الحديثة للبنوك التجارية :
          </li>
          <ul>
            <li class="fs-5">
              مساعدة الشركات علي بيع الإصدارات الجديدة من أسهمها : تقوم البنوك
              التجارية بمساعدة الشركات المساهمة العامة علي استلام طلبات
              المكتتبين بأسهمها الجديدة عندما تطرحها للاكتتاب العام ، وفي تلقي
              الدفعات الأولي من الأسهم مقابل عمولة محددة تأخذها من الشركة بموجب
              هذه الخدمة تصبح من مؤسسات سوق رأس المال الأولية ، وهي بذلك خدمة
              جليلة لكل من المستثمر والشركة حيث تسهل عمليات الاكتتاب دون أن
              يتكلف المستثمر لقاء هذه الخدمة أية مبالغ لأن البنوك تأخذ عمولتها
              من الشركة .
            </li>
            <li class="fs-5">
              خلق بعض أدوات الاستثمار المالي : تقوم البنوك التجارية بدور مهم في
              الأسواق المالية بصفتها من مؤسسات الوساطة المالية التي تسهل تدفق
              الأمال من وحدات الفائض إلى وحدات العجز في المجتمع ، وتتعدد الوسائل
              والأساليب التي تتبعها هذه البنوك وتؤدى بعض هذه الوسائل إلى خلق
              أدوات استثمارية جديدة . ومن أمثلة ذلك شهادات الإيداع حيث يقوم
              المودع بإيداع أمواله لفترة زمنية محددة لقاء فائدة محددة ويقدم له
              البنك بالمقابل شهادة تثبت ذلك تسمي شهادة الإيداع يظهر فيها المبلغ
              والفائدة وموعد استحقاق المبلغ . وهذه الشهادة قد تكون قصيرة الأجل
              إذا كان المبلغ المستحق خلال فترة تقل عن السنة أو طويلة الأجل إذا
              كان المبلغ يستحق خلال فترة تزيد عن السنة وهذه الشهادة قابلة
              للتظهير أي أن حاملها يستطيع أن يظهرها لمن يشاء وبالتالي تصبح أداة
              مهمة في أدوات الاستثمار المالي لاسيما عند وجود سوق مالية نشيطة
              للتعامل بها .
            </li>
            <li class="fs-5">
              تقديم خدمات استشارية للمتعاملين : لوحظ أن البنوك أصبحت تشترك في
              إعداد الدراسات المالية المطلوبة للمتعاملين معها لدي إنشاء
              مشروعاتهم ، ويتم علي أساس هذه الدراسات تحديد الحجم الأمثل للتمويل
              المطلوب وكذلك طريقة السداد ومدى اتفاقها مع سياسة المشروع في الشراء
              والإنتاج والبيع والتحصيل ، باعتبار أن الفلسفة المصرفية السليمة
              تعتبر مصلحة البنك ومصلحة المشروع الذي يستعامل معه مصلحة مشتركة علي
              اعتبار أنه كلما ارتفعت كفاءة المشروع كلما كان ذلك أفضل للبنك الذي
              يموله .
            </li>
            <li class="fs-5">
              إدخار المناسبات : تشجع البنوك المتعاملين معها أن يقوموا بالادخار
              لمواجهة مناسبات معينة مثل مواجهة نفقات موسم الاصطياف ، أو الزواج ،
              أو تدريس الأبناء ، أو شراء الهدايا .... إلخ .حيث تقدم لهم فوائد
              مجزية علي هذه لمدخرات وتمنحهم تسهيلات ائتمانية خاصة تتناسب مع حجم
              مدخراتهم ، كأن تمنحهم الحق في الاقتراض بشروط سهلة بمبالغ توازي ضعف
              المدخرات مثلاً عند حلول المناسبة المدخر من أجلها .
            </li>
            <li class="fs-5">
              البطاقة الائتمانية : هي من أشهر الوظائف البنكية الحديثة وتتلخص هذه
              الخدمة في منح الأفراد بطاقات من البلاستيك تحتوي علي معلومات عن اسم
              المتعامل ورقم حسابه ، وبموجب هذه البطاقة يستطيع المتعامل أن يتمتع
              بخدمات العديد من المحلات التجارية المتفقة مع البنك علي قبول منح
              الائتمان لحامل البطاقة علي أن يقوم بسداد قيمة هذه الخدمات إلى
              البنك خلال 25 يوماً من تاريخ استلامه الفاتورة في نهاية كل شهر .ولا
              يدفع المتعامل أية فوائد علي هذا الائتمان إذا قام بالسداد خلال
              الأجل المحدد ، إلا أنه يدفع فوائد مقدارها 1.5% في الشهر علي الرصيد
              المتبقي بدون سداد بعد فوات الأجل المحدد للسداد .
            </li>
            <li class="fs-5">
              تقديم الخدمات الالكترونية: اي توفير خدمات الدفع و التحويل عبر شبكة
              الانترنت للعملاء
            </li>
          </ul>
        </ul>
        <li class="fs-3 fw-bold">أهداف البنوك التجارية :</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تسعي البنوك التجارية إلى تحقيق ثلاثة أهداف رئيسية تتمثل في :
        </p>
        <ol>
          <li class="fs-5 fw-bold">الربحية :</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            إن من أهداف البنك التجاري تحقيق عائد ملائم لملاكه ، ولكي يحقق البنك
            الأرباح عليه أن يوظف أمواله التي حصل عليها من المصادر المختلفة وأن
            يقلل نفقاتها ما أمكن .
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            والإيرادات الإجمالية للبنك تتكون بشكل رئيسي من نتائج عمليات الإقراض
            والاستثمار بالإضافة إلى الأرباح الرأسمالية التي قد يحققها البنك ،
            أما نفقاتها فتتمثل في نفقات إدارية وتشغيلية ونفقات ثابتة تتمثل في
            الفوائد التي يدفعها البنك علي الودائع .
          </p>
          <li class="fs-5 fw-bold">السيولة :</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            يجب علي البنوك التجارية أن تحتفظ بجزء من أموالها بدرجة من السيولة
            الكافية لمواجهة السحوبات العادية أو الفجائية لعملاء البنك ، ويقصد
            بالسيولة هنا قدرة البنك علي تحويل جزء من أمواله شبه نقدية إلى نقد
            وخلال فترة زمنية قصيرة تسمح بمواجهة سحوبات عملائه وإلا فإن التعرض
            لنقص السويلة سيؤدى إلى زعزعة ثقة المودعين بالبنك ، وقد يؤدى ذلك إلى
            تدافع المودعين لسحب أموالهم من البنك مما يؤدى إلى إفلاسه .
          </p>
          <li class="fs-5 fw-bold">الأمان :</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            ويتمثل هذا الهدف في تحقيق أكبر قدر ممكن من الأمان للمودعين علي اساس
            صغر رأس البنك والذي لا يحقق للمودعين الحماية المنشودة لهم ، وصغر رأس
            مال البنك يعني صغر حافة الأمان للمودعين ، وذلك أن أي خسائر يتعرض لها
            البنك قد تلتهم بالإضافة إلى رأس مال البنك جزء من أموالهم .
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            وتقوم البنوك التجارية بإدارة الموجودات والمطلوبات لتحقيق موازنة بين
            الأهداف الثلاثة والذي يحقق لإدارة البنك فاعلية أكبر في تحقيق أهدافه
            المتمثلة في زيادة ثروة الملاك .
          </p>
        </ol>
        <li class="fs-3 fw-bold">الهيكل التنظيمي للمصرف التجاري</li>
        <img
          src="{% static 'pictures/المخطط1.png' %}"
          alt="المخطط 1"
          class="w-100 my-1"
        />
        <li class="fs-3 fw-bold">خصائص النشاط المصرفي</li>
        <ul>
          <li class="fs-5">
            رقابة البنك المركزي: تتأثر أعمال البنوك التجارية برقابة البنك
            المركزي ولا تؤثر عليه، حيث أن للبنك المركزي سلطة الرقابة علي البنوك
            العاملة في الدولة، وتحديد النسب الخاصة بنشاطها مثل نسبة الإحتياطي
            القانوني، ونسبة السيولة، وتحديد أسعار الخصم، وتسعير بعض الخدمات.
          </li>
          <li class="fs-5">
            التعدد والتنوع: حيث تتعدد البنوك التجارية وتتنوع تبعاً لحاجة النشاط
            الاقتصادي إلى النقود الورقية والمعدنية و المصرفية ، وحسب طبيعة
            التعاملات . وتنتشر فروع البنوك التجارية بين الأماكن المختلفة حسب
            التوزيع المكاني( الجغرافى ) لهذا النشاط ، أو أزمنة ممارسته.
          </li>
          <li class="fs-5">
            إختلاف النقود المصرفية عن النقود القانونية في قوة الإبراء: تتزايد
            قوة إبراء النقود المصرفية بالمزيد من الثقة في أدوات البنوك التجارية
            وأعمالها، وبزيادة الوعي المصرفي وإنتشاره بين السكان، وبالتعامل
            السليم بالقواعد والأنظمة والتعليمات التي تحكمه.
          </li>
          <li class="fs-5">
            تحقيق الأرباح: تسعي البنوك التجارية إلي تحقيق الأرباح من خلال جميع
            الأعمال التي تمارسها سواء لعملائها أو للآخرين
          </li>
        </ul>
        <li class="fs-3 fw-bold">انواع المخاطر البنكية</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          ويمكن تقسيم المخاطر التي تتعرض لها القروض إلى مخاطر خاصة ومخاطر عامة
          وفيما يلي نعرض لكل منهما:
        </p>
        <ul>
          <li class="fs-5 fw-bold">
            المخاطر الخاصة "المخاطر الغير النظامية": Risque Non Systématique:
          </li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            يقصد بالمخاطر الغير نظامية هي تلك المخاطر الداخلية التي تنفرد بها
            شركة أو صناعة ما في ظل ظروف معينة، ومن الأمثلة على هذه الظروف ضعف
            الإدارة المصرفية، والأخطاء الإدارية، والإضرابات العمالية، وتغير
            أذواق العملاء نتيجة ظهور منتجات جديدة، مثل هذا النوع من المخاطر
            الاستثنائية واللاسوقية من شأنها أن تؤثر على قدرة العميل ورغبته في
            سداد ما عليه من التزامات اتجاه البنك مانح القرض في الأجل المتفق عليه
            .
          </p>
          <li class="fs-5 fw-bold">المخاطر العامة "المخاطر النظامية" :</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            يقصد بالمخاطر النظامية جميع المخاطر التي تصيب كافة القروض بصرف النظر
            عن ظروف البنك المقترض وذلك بفعل عوامل اقتصادية وسياسية واجتماعية
            يصعب التحكم والسيطرة عليها، ومن الأمثلة على تلك المخاطر نذكر مخاطر
            تغير أسعار الفائدة، مخاطر التغير في أذواق العملاء، مخاطر التضخم،
            مخاطر تغير أسعار صرف العملات الأجنبية، بالإضافة إلى التغيرات
            التكنولوجية و من انواعها:
          </p>
          <ul>
            <li class="fs-5">
              مخاطر السوق (Market Risk): وهي المخاطر المتعلقة بالايرادات نتيجه
              التغيرات في اسعار الفائده والتقلبات في اسعار الصرف واسعار الاوراق
              الماليه واسعار السلع .
            </li>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              وتقسم مخاطر السوق الى اربع انواع من المخاطر هي (مخاطر تقلبات اسعار
              الفائدة,مخاطر تقلبات اسعار الصرف,مخاطر تقلبات اسعار الاوراق
              الماليه ,ومخاطر تقلبات اسعر السلع )
            </p>
            <li class="fs-5">
              مخاطر التشغيل : يشمل هذا النوع المخاطر المتولدة من ضعف الرقابة
              الداخلية ,او ضعف في الاشخاص والانظمة , او حدوث ظروف خارجية ,والتي
              تؤدي جميعها الى خسائر غير متوقعة .ومنها : الاحتيال المالي
              (الاختلاس ), التزوير...الخ
            </li>
            <li class="fs-5">
              مخاطر السيوله: وتتمثل هذة المخاطر في عدم قدرة المصرف على سداد
              الالتزامات المالية عند استحقاقها , والمصرف الذي لايستطيع الوفاء
              بالتزاماتة قصيرة الاجل , تكون البداية لحدوث ظاهرة العجز ,اذا استمر
              يمكن ان يؤدي الى افلاسة .
            </li>
            <li class="fs-5">
              مخاطر الانشطه المصرفيه الاكترونيه : ادى تطور المصارف بشكل مستمر
              الى استخدام التكنلوجيا الحديثة وبرامج الكمبيوتر لكي تستطيع
              المنافسة فيما بينها وتقديم الخدمات المتطورة التي تلبي حاجات
              عملائها ,مما نتج عن ذلك مخاطر جديدة مرتبطة بهذة العمليات
              كاالاحتيال والدخول غير المرخص لحسابات العملاء .
            </li>
            <li class="fs-5">
              المخاطر الاستراتيجيه : وهي المخاطر الناتجة عن اصدار قرارات خاطئة
              تؤثر سلبا على نشاط المصرف او المخاطر الناتجة عن عدم اتخاذ القرارات
              المناسبة في الوقت المناسب لاستغلال الفرص المتاحة .ومثال ذلك اتخاذ
              القرارات المتعلقة بدخول اسواق جديدة او الخروج من بعض الاسواق او
              تقديم خدمت جديدة وغير ذلك من القرارات .
            </li>
            <li class="fs-5">
              مخاطر الالتزام والمخاطر القانونيه والرقابيهة: تنتج مخاطر الالتزام
              من احتمال مخالفه او عدم تطبيق القوانين الرقابيه والقواعد . ومخاطر
              الالتزام الناتجه عم المخالفه لتطبيق القوانين والقواعد تؤثر سلبا
              على البنك . وتنتج المخاطر القانونيه عن عدم التزام ومخالفة البنك
              لقوانين الاعمال والاسس القانونيه في الدول التي يعمل بها البنك ,
              وهذا يعرض البنك للمخاطر والخسائر . اما المخاطر الرقابيه فهي
              المخاطر الناتجه عن احتمال تغير القوانيين والقواعد الرقابيه بطريقة
              تؤدي الى التاثير السلبي على عمليات البنك وقدرته التنافسيه
            </li>
          </ul>
        </ul>
        <li class="fs-3 fw-bold">ميزانية البنوك التجارية</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          الميزانية هي عبارة عن وثيقة تسجل فيها كل من موارد البنك والتي تمثل
          جانب الأصول واستخداماته والتي تمثل جانب الخصوم خلال فترة زمنية محددة
          غالباً ما تكون سنة واحدة وتشتمل ميزانية البنك التجاري على:
        </p>
        <ul class="list-unstyled">
          <li class="fs-5 fw-bold">أولا : موارد ( خصوم ) البنوك التجارية :</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            يبين هذا الجانب مجموعة الموارد لدى البنوك التجارية والتي تمثل إجمالي
            أموال البنوك المتاحة لديها وهي :
          </p>
          <ol>
            <li class="fs-5">
              رأس المال المدفوع والاحتياطي : ويمثل إجمالي القيم التي قام أصحاب
              البنك والمساهمين بدفعها في تكوين رأس ماله ، أما الاحتياطي فهو
              عبارة عن مبالغ تم جمعها من قبل البنك على مر السنين من أرباحه
              المتحققة خلال هذه الفترة وينقسم الاحتياطي إلى قسمين :
            </li>
            <ul>
              <li class="fs-5">
                احتياطي قانوني : ويكون النبك ملزماً بتموينه بحكم القانون الذي
                أصدره البنك المركزي بهذا الخصوص ويمثل نسبة من الودائع لدي البنك
                .
              </li>
              <li class="fs-5">
                احتياطي خاص : وهي تلك المبالغ التي يتم حجزها بواسطة البنك من
                الأرباح دون إلزام قانوني والهدف منه دعم المركز المالي للبنك
                وزيادة ثقة عملائه فيه .
              </li>
            </ul>
            <li class="fs-5">
              الودائع : وتعد من المصادر الرئيسية لمكونات موارد البنوك التجارية
              وهي عبارة عن ديون مستحقة لأصحابها علي ذمة البنوك التجارية وتشكل
              حوالي 80 إلى 90% من أموال البنك أو خصومه وتنقسم إلى ثلاثة أنواع :
            </li>
            <ul>
              <li class="fs-5">
                الودائع الجارية ( تحت الطلب ) : وهي عبارة عن مبالغ تودع لدي
                البنك التجاري ويتعهد البنك بدفعها في أي وقت يشاء فيه صاحب
                الوديعة سحبها سحباً كاملاً أو جزء منها ، وعادة ما تسحب بواسطة
                شيكات ولا يدفع عليها فائدة بل يطالب برسم الإجراءات الحسابية وتعد
                هذه الودائع مصدر أساسي لسيولة البنوك وأهميتها النسبية من إجمالي
                الودائع الأخرى تحدد قدرة البنك في التوسع أو الانكماش أو الاقراض
                .
              </li>
              <li class="fs-5">
                الودائع الثاتبة : ويقصد بها الودائع التي يلتزم البنك بموجبها
                بالدفع في وقت لاحق علي إيداعها يتم الاتفاق عليه بين المودع
                والبنك ويدفع البنك عليها أسعار فائدة للمودع نظير انتظاره لفترة
                من الزمن .
              </li>
              <p class="mb-0 p-0 fs-5 indent-2 text-justify">
                وتوجد هناك أيضاً ودائع ثابتة بإخطار وهي تلك الودائع التي لا يتفق
                البنك مع أصحابها بدفعها في وقت معين ولكن عند السحب يجب علي
                المودع إشعار البنك أو إخطاره قبل وقت مناسب من تاريخ السحب وأيضاً
                يدفع عليها البنوك أسعار فائدة .
              </p>
              <li class="fs-5">
                ودائع التوفير : هذه الودائع تودع لدي صناديق البريد أو البنوك
                التجارية ويحصل أصحابها علي دفاتر تفيد وتسجل عليها وتثبت فيها
                مبالغ الإيداع والسحب وتدفع عليها البنوك سعر فائدة .
              </li>
            </ul>
            <li class="fs-5">
              الإقراض من البنوك الأخرى والبنك المركزي : قد تلجأ البنوك للاقتراض
              من بعضها أو من البنك المركزي عندما تحتاج لتمويل عملياتها البنكية
              التي لا تكفي مواردها الذاتية المتاحة لتمويلها ، هذا الاقتراض يمثل
              التزاما علي البنك المقترض ومصدراً للحصول علي الموارد المالية التي
              تحتاجها في بعض الأحيان .
            </li>
          </ol>
          <li class="fs-5 fw-bold">
            ثانياً : استخدامات ( أصول ) البنوك التجارية :
          </li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">وأهمها :</p>
          <ol type="1">
            <li class="fs-5">
              الأرصدة النقدية : تتكون الأرصدة النقدية للبنك التجاري من النقود
              الورقية والمعدنية التي يصدرها البنك المركزي ويتحفظ بها البنك في
              خزينته . والهدف من الأرصدة النقدية هو توفير عنصر السيولة لمقابلة
              طلبات زبائنه من مودعين ومقترضين . كما أن البنك التجاري ملزم من
              البنك المركزي بالاحتفاظ بجزء من أرصدته نقداً كنسبة من إجمالي
              الودائع لدي البنك وذلك لضمان حقوق المودعين وتوفير السيولة اللازمة
              لمواجهة سحوباته .
            </li>
            <li class="fs-5">
              قروض قصيرة الأجل وترد عند الطلب : تمثل قروضا قصيرة جدا وتمنح لبيوت
              الخصم والقبول وهي مؤسسات مالية متخصصة في مثل هذا النوع من القروض
              والاقتراض وتدفع عليها أسعار فائدة لكن أقل من تلك التي تطالب بها
              زبائنها الذين يتعاملون معها في مثل هذه القروض ولمدة قصيرة جداً،
              وبما أنها تطلب في فترة قصيرة جداً فإن ترتيبها يأتي في جانب الأصول
              بعد الأرصدة النقدية .
            </li>
            <li class="fs-5">
              أوارق تجارية مخصومة : هي عبارة عن الكمبيالات والسندات الأذنية
              قصيرة الأجل والتي قام البنك بخصمها لعملائه ، وهي غالباً تكون
              مستحقة الدفع في داخل الدولة ، وقد تكون مستحقة الدفع في الخارج في
              بعض الأحيان . وهي دائماً تصدر من القطاع الخاص والذي يخلق التزاماً
              عليه بالدفع في المستقبل وهي أكثر سيولة أي يمكن تحويلها إلى سيولة
              بأقل وقت ممكن وبدون خسائر ، وتدر أرباحاص علي البنك ، ولها طرفان
              الطرف الأول ويسمي الساحب ( الدائن ) وهو الذي يستلم مبلغه في الحال
              والطرف الثاني يسمي المسحوب عليه ( المدين ) الذي يدفع للبنك في
              المستقبل .
            </li>
            <li class="fs-5">
              أذونات الخزينة : وهي سندات قصيرة الأجل تصدرها الخزينة العامة
              ويكتتب فيها والهدف منها تغطية عجز الموازنة العامة المؤقت .
            </li>
            <li class="fs-5">
              أوراق مالية استثمارية : وتشمل الأسهم التي يمتلكها البنك في الشركات
              الأخرى باعتباره مساهماً فيها والسندات الطويلة الأجل لتمويل
              المشروعات الاستثمارية .
            </li>
            <li class="fs-5">
              القروض والسلفيات : وهي أكثر بنود الأصول وتتراوح قيمتها ما بين 40
              إلى 50% من قيمة مجموعة أصول البنك التجاري وهي المشروعات الصناعية
              والتجارية والزراعية . وهي من أكثر أنواع الأصول عائداً وربحاً نسبة
              لانخفاض سيولتها أكثر من غيرها من الأصول .
            </li>
          </ol>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            والفرق بين القرض والسلفية فالأول عبارة عن مبلغ من المال يقدمه البنك
            بصورة قرض يحصل عليه المقترض باتفاق بينه وبين البنك علي مقدار القرض
            وموعد سداده ، في حين أن السلفية تمثل التزاماً من البنك إلى الحصول
            عليها بالسحب منها في حدود المبلغ المصرح به .
          </p>
        </ul>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
