<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %} {% block title %}Monetary Policy{% endblock%} {% block content %}
<!-- include _nav.html -->
{% include "parts/_nav.html" %}
<div class="container pb-4 pt-5">
  <div class="d-flex flex-column gap-3 p-3 rounded-4 text-black">
    <div class="d-flex flex-column gap-2">
      <h3 class="h3 m-0 fw-bold ps-4">أولا: تعريف السياسة النقدية:</h3>
      <p class="mb-0 p-0 fs-5 indent-2 text-justify">
        مجموعة الإجراءات التي تتخذها الدولة في إدارة كل من النقود والإتمان
        ونمظيم السيولة العامة للأقتصاد.
      </p>
      <h3 class="h3 m-0 fw-bold ps-4">ثانيا: أهداف السياسة النقدية:</h3>
      <ul>
        <li class="fs-5">تحقيق الاستقرار في الاسعار</li>
        <li class="fs-5">تحقيق الاستقرار النقدي والاقتصادي</li>
        <li class="fs-5">
          المساهمة في تحقيق توازن ميزان المدفوعات وتحسين قيمة العملة
        </li>
        <li class="fs-5">المشاركة في تحقيق معدل نمو اقتصادي مرتفع</li>
        <li class="fs-5">استقرار أسعار الصرف</li>
        <li class="fs-5">تلبية المتطلبات المالية للنشاط الإقتصادي</li>
      </ul>
      <h3 class="h3 m-0 fw-bold ps-4">ثالثا: أدوات السياسة النقدية:</h3>
      <p class="mb-0 p-0 fs-5 indent-2 text-justify">
        يقوم البنك المركزي بإستعمال مجموعة من الأدوات بغية تحقيق أهدافه المسطرة
        في السياسة النقدية إلا أن هذه الأدوات تتباين من اقتصاد الى آخر، فإذا كان
        اقتصاد بلد ما يعاني من تفاقم ظاهرة التضخم فإن البنك المركزي يتدخل بشكل
        مباشر وعير مباشر لامتصاص السيولة الزائدة أ استخدام السياسة الانكماشية
        أما إذا كان يعاني من حالة كساد فإن البنك المركزي يستخدم إحدى أدواته من
        أجل زيادة السيولة والعمل على تحريك النشاط الاقتصادي أي استخدام السياسة
        التوسعية.
      </p>
      <ol type="1">
        <li class="fs-4 fw-bold">
          الأدوات الكمية للسياسة النقدية(غير المباشرة):
        </li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          يقصد بالأدوات الكمية تلك الإجراءات والتنظيمات التي يعتمدها البنك
          المركزي في علاقته مع المؤسسات المالية والنقدية، وتستهدف الحجم الكلي
          للائتمان المتاح دون محاولة التأثير على تخصيصه بين مختلف الاستعمالات،
          وتتمثل هذه الأدوات في سعر إعادة الخصم، سياسة السوق المفتوحة ونسبة
          الاحتياطي القانوني.
        </p>
        <li class="fs-4 fw-bold">الأدوات الكيفية للسياسة النقدية(المباشرة):</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تستخدم الأدوات الكيفية للسياسة النقدية في التحكم في أنواع معينة من
          القروض، وتنظيم الإنفاق في وجوه معينة مثل تشجيع القروض الإنتاجية دون
          القروض الاستهلاكية وغيرها، وكذلك تتدخل السياسة النقدية عن طريق هذه
          الأدوات في قطاعات معينة وأنشطة تعاني من عدم الاستقرار أو بعض الصعوبات،
          مما يتطلب ذلك علاجا خاصا باستخدام أدوات كيفية، فهذه الأدوات تؤثر
          مباشرة على حجم التمويل الكلي وتوظيف الأموال واستثمارها، وتتمثل هذه
          الأدوات في تنظيم القروض الاستهلاكية، تخصيص التمويل، السقوف التمويلية،
          تنظيم معدلات الفائدة.
        </p>
        <li class="fs-4 fw-bold">أدوات أخرى للسياسة النقدية:</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          الى جانب الأدوات السابقة الذكر، يستخدم البمك المركزي أدوات أخرى تتمثل
          في الاقناع الأدبي، الإعلام، التوجيهات والأوامر، الإجراءات العقابية.
        </p>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
