<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %} {% block title %}Open Bank Account{% endblock%} {% block content %}
<!-- include _nav.html -->
{% include "parts/_nav.html" %}
<div class="container pb-4 pt-5">
  <div class="d-flex flex-column gap-3 p-3 rounded-4 text-black">
    <div class="d-flex flex-column gap-2">
      <ol type="1">
        <li class="fs-3 fw-bold">شروط فتح حساب بنكي</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          هناك مجموعة من الشروط التي يجب ان تتوفر في العميل لفتح حساب بنكي وهي
          تختلف من بنك الى اخر, و هنا نقدم بعض الشروط التي تشترك فيها كل البنوك
          فقط:
        </p>
        <ul>
          <li class="fs-5">
            ألا يقل عمر المتقدم لفتح حساب بنكي في البنك الوطني الجزائري عن 18
            سنة.
          </li>
          <li class="fs-5">أن يحمل المواطن الجنسية الجزائرية.</li>
          <li class="fs-5">توفر مبلغ مالي رمزي لفتح رصيد في البنك.</li>
          <li class="fs-5">أن يكون للمتقدم دخل شهري ثابت.</li>
          <li class="fs-5">
            أن تكون بطاقة الإقامة سارية المفعول لمدة لا تقل عن 3 أشهر.
          </li>
        </ul>
        <li class="fs-3 fw-bold">خطوات فتح حساب بنكي</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          فتح حساب بنكي يعتبر ضرورة لتلبية الاحتياجات المالية اليومية
          والمستقبلية للكثير من الأشخاص. ولكن قد يكون الأمر معقدًا بعض الشيء، و
          تختلف خطوات فتح الحساب من بنك لاخر وهنا بعض الخطوات التي يمكن اتباعها
          في كافة البنوك:
        </p>
        <ul>
          <li class="fs-5 fw-bold">الخطوة الأولى:</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            اختيار البنك المناسب: يجب البحث عن البنك الذي يلبي احتياجاتك
            ومتطلباتك الشخصية. يمكنك البحث عن البنوك المختلفة ومقارنة المنتجات
            والخدمات التي يقدموها.
          </p>
          <li class="fs-5 fw-bold">الخطوة الثانية:</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            جمع المستندات المطلوبة: بعد اختيار البنك، سوف تحتاج إلى جمع
            المستندات المطلوبة لفتح حساب بنكي، وهي الهوية الشخصية (بطاقة التعريف
            أو جواز السفر) وإثبات العنوان (فاتورة كهرباء أو مياه) وشهادة الدخل .
          </p>
          <li class="fs-5 fw-bold">الخطوة الثالثة:</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            زيارة فرع البنك: بعد جمع المستندات المطلوبة، يجب عليك زيارة فرع
            البنك المختار وتقديم المستندات. ستحتاج إلى ملء نموذج طلب فتح حساب
            بنكي وتقديم المستندات للموظف المختص.
          </p>
        </ul>
        <li class="fs-3 fw-bold">الوثائق المطلوبة لفتح حساب بنكي في الجزائر</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          كل بنك يطلب وثائق خاصة ومختلفة من اجل فتح حساب بنكي ولكن هناك بعض
          الوثائق التي تشترك كل البنوك في طلبها وهي:
        </p>
        <ol type="I">
          <li class="fs-5">
            في البداية ادخل إلى موقع الخدمات البنكية الإلكترونية التابع للبنك
            المراد فتح الحساب فيه
          </li>
          <li class="fs-5">
            املأ الاستمارة لمستخرجة من الموقع بالبيانات المطلوبة
          </li>
          <li class="fs-5">اجمع الوثائق المطلوبة مثل:</li>
          <ul>
            <li class="fs-5">شهادة الميلاد.</li>
            <li class="fs-5">شهادة الإقامة أو بطاقة الهوية.</li>
            <li class="fs-5">
              اختر الوكالة تاريخ الموعد لإنهاء عملية فتح الحساب.
            </li>
          </ul>
        </ol>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
