<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %} {% block title %}Promotion{% endblock%} {% block content %}
<!-- include _nav.html -->
{% include "parts/_nav.html" %}
<div class="container pb-4 pt-5">
  <div class="d-flex flex-column gap-3 p-3 rounded-4 text-black">
    <div class="d-flex flex-column gap-3 align-items-center">
      <p class="mb-0 p-0 fs-4 indent-2 fw-bold w-75 w-md-100 text-center mt-3">
        المنصة الرائدة لتسويق منتجاتكم المالية! قم بتسجيل خدماتكم الجديدة هنا
        للوصول إلى جمهور واسع من العملاء بكل سهولة وفاعلية, استفدوا من فرصة
        الترويج لمنتجاتكم وخدماتكم بأسعار تنافسية. انضموا إلينا الآن لتعزيز
        حضوركم في سوق الخدمات المالية وتحقيق نجاح مضمون!
      </p>
      <form class="w-100">
        <div class="w-75 w-md-100 d-flex flex-column gap-1 mx-auto">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="detailsTextarea"
            ></textarea>
            <label for="detailsTextarea">معلومات الخدمة</label>
          </div>
          <div class="d-flex w-100 position-relative">
            <label
              class="d-flex flex-column justify-content-center align-items-center py-4 text-white w-100 z-1"
              for="picsForService"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-images"
                viewBox="0 0 16 16"
              >
                <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                <path
                  d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10"
                />
              </svg>
              <span class="small fw-bold">إضافة صور</span>
            </label>
            <div class="position-absolute bg-gallery z-0 rounded-2">
              <input
                type="file"
                id="picsForService"
                accept="image/*"
                multiple
                class="d-none"
              />
            </div>
          </div>
          <div
            id="picsForServiceContainer"
            class="w-100 row gy-2 align-items-center m-0"
          ></div>
          {% csrf_token %}
        </div>
      </form>
      <button class="btn btn-primary w-75 w-md-100" id="setServiceBtn">
        إضافة الخدمة
      </button>
    </div>
  </div>
</div>
{% endblock %} {% block modals %}
<div
  class="modal fade"
  id="addServiceModal"
  tabindex="-1"
  aria-labelledby="addServiceModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column gap-4">
        <p class="mb-0 p-0 fs-4 indent-2 fw-bold w-75 text-center mx-auto mt-3">
          تم إضافة خدمتك إلى قائمة خدمات الموقع وسيتم الترويج لها حسب المعطيات
          التي قمت بإدخالها، نشكرك على استعمالك لخدمة ترويج الخدمات من
          BankingHub
        </p>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary w-50"
          data-bs-dismiss="modal"
        >
          موافق
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
