<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %} {% block title %}Reservation{% endblock%} {% block content %}
<!-- include _nav.html -->
{% include "parts/_nav.html" %}
<div class="container pb-4 pt-5">
  <div class="d-flex flex-column gap-3 p-3 rounded-4 text-black">
    <div class="d-flex flex-column gap-3 align-items-center">
      <p class="mb-0 p-0 fs-4 indent-2 fw-bold w-75 w-md-100 text-center mt-3">
        سهل وسريع! احجز موعدًا لدى بنكك الآن لطلب اي خدمة او استشارة, دعنا نوفر
        لك الوقت والجهد من خلال ترتيب موعد ملائم يناسب جدولك للحصول على ما
        تحتاجه من بنكك في ثواني موفرا وقتك وجهدك!
      </p>
      <form class="w-100">
        <div class="w-75 w-md-100 d-flex flex-column gap-1 mx-auto">
          <div class="form-floating w-100">
            <select
              class="form-select"
              id="bankSelect"
              aria-label="Floating label select example"
            >
              <option selected>اختر أحد البنوك من القائمة</option>
              {% for bank in banks %}
              <option value="{{ bank.pk }}">{{ bank.bank_name }}</option>
              {% endfor %}
            </select>
            <label for="bankSelect">البنك</label>
          </div>
          <div class="form-floating w-100">
            <select
              class="form-select"
              id="branchSelect"
              aria-label="Floating label select example"
            >
              <option selected>اختر أحد الفروع من القائمة</option>
              {% for branch in branchs %}
              <option value="{{ branch.pk }}">{{ branch.name }}</option>
              {% endfor %}
            </select>
            <label for="branchSelect">الفرع</label>
          </div>
          <div class="form-floating w-100">
            <select
              class="form-select"
              id="citySelect"
              aria-label="Floating label select example"
            >
              <option selected>حدد مدينتك</option>
              {% for city in cities %}
              <option value="{{ city.pk }}">{{ city.name }}</option>
              {% endfor %}
            </select>
            <label for="citySelect">المدينة</label>
          </div>
          <div class="form-floating w-100">
            <input
              type="datetime-local"
              class="form-control"
              id="datetimeInput"
              placeholder="name@example.com"
            />
            <label for="datetimeInput">التاريخ والوقت</label>
          </div>
          {% csrf_token %}
        </div>
      </form>
      <button class="btn btn-primary w-75 w-md-100" id="setReservationBtn">
        احجز الآن
      </button>
    </div>
  </div>
</div>
{% endblock %} {% block modals %}

<div
  class="modal fade"
  id="reserveModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="reserveModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column gap-4">
        <p class="mb-0 p-0 fs-4 indent-2 fw-bold w-75 text-center mx-auto mt-3">
          يرجى اظهار الباركود الى الحارس عند وصولك الى البنك
        </p>
        <div class="mt-4 mb-2 d-flex justify-content-center align-items-center">
          <img class="w-25" id="barcodeImg" src="" alt="barcode" />
        </div>
      </div>

      <div class="modal-footer">
        <a
          href="#"
          id="downloadLink"
          class="btn btn-primary w-50"
          download="barcode.gif"
          >تنزيل الباركود</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
