<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %} {% block title %}Stock Market{% endblock%} {% block content %}
<!-- include _nav.html -->
{% include "parts/_nav.html" %}
<div class="container pb-4 pt-5">
  <div class="d-flex flex-column gap-3 p-3 rounded-4 text-black">
    <div class="d-flex flex-column gap-2">
      <h3 class="h3 m-0 fw-bold ps-4">1- نشاة البورصة في الجزائر</h3>
      <p class="mb-0 p-0 fs-5 indent-2 text-justify">
        الجزائر- أنشئت بورصة الجزائر المسماة " مؤسسة تسيير بورصة القيم المنقولة"
        سنة 1997 بمساهمين يتمثلون في ستة بنوك عمومية و هي كل من بنك الفلاحة
        والتنمية الريفية و بنك الجزائر الخارجي و بنك التنمية المحلية والصندوق
        الوطني للتوفير والاحتياط و البنك الوطني الجزائري و القرض الشعبي
        الجزائري.
      </p>
      <p class="mb-0 p-0 fs-5 indent-2 text-justify">
        و بموجب المرسوم التشريعي 93-10 الصادر في 23 مايو 1993 الذي يحكمها ، فان
        بورصة الجزائر تتشكل من الهيئات التالية :
      </p>
      <ul>
        <li class="fs-5 fw-bold">شركة تسيير بورصة القيم</li>
        <li class="fs-5 fw-bold">
          المؤتمن المركزي على السندات المسمى" الجزائر كليرينغ" و هي شركة أسهم
          مملوكة من قبل البنوك والشركات المدرجة في البورصة.
        </li>
        <li class="fs-5 fw-bold">وسطاء في عمليات البورصة.</li>
        <li class="fs-5 fw-bold">
          لجنة تنظيم ومراقبة عمليات البورصة و التي تشكل السلطة المنظمة لسوق
          الأوراق المالية.
        </li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          و تضم بورصة الجزائر حاليا ستة سندات و المتمثلة في مجمع "صيدال" و فندق
          الاوراسي ( شركات عمومية) و اليانس للتأمينات، آن سي آي رويبة و
          "بيوفارم" اضافة الى أوم للاستثمار ( شركات خاصة) ، مع قيمة سوقية تقدر ب
          45 مليار دج ما يمثل 2ر0 بالمائة من الناتج الداخلي الخام.
        </p>
        <li class="fs-5 fw-bold">
          3 سبتمبر 1999: الإدراج الأول في بورصة الجزائر للشركة العمومية للصناعات
          الغذائية "الرياض سطيف" و التي فتحت رأسمالها بنسبة 20 بالمائة انسحبت
          الشركة من البورصة سنة 2006.
        </li>
        <li class="fs-5 fw-bold">
          20 سبتمبر 1999: ادراج المجمع العمومي للصيدلاني "صيدال"
        </li>
        <li class="fs-5 fw-bold">
          14 فبراير 2000: دخول الفندق العمومي الاوراسي البورصة
        </li>
      </ul>
      <h3 class="h3 m-0 fw-bold ps-4">2- اسواق بورصة الجزائر</h3>
      <p class="mb-0 p-0 fs-5 indent-2 text-justify">
        تتضمن التسعيرة الرسمية لبورصة القيم المنقولة سوقاً لسندات رأس المال
        وسوقاً لسندات الدين:
      </p>
      <ol type="I">
        <li class="fs-4 fw-bold">تتكون سوق سندات رأس المال من:</li>
        <ul>
          <li class="fs-5">
            السوق الرئيسية: الموجهة للشركات الكبرى. ويوجد حالياً أربعة (04)
            شركات مُدرجة في تسعيرة السوق الرئيسية، وهي :
          </li>
          <ul>
            <li class="fs-5 fw-bold">
              مجمع صيدال: الناشط في القطاع الصيدلاني.
            </li>
            <li class="fs-5 fw-bold">
              مؤسسة التسيير الفندقي الأوراسي : الناشطة في قطاع السياحة
            </li>
            <li class="fs-5 fw-bold">
              أليانس للتأمينات : الناشطة في قطاع التأمينات
            </li>
            <li class="fs-5 fw-bold">
              مؤسسة بيوفارم : الناشطة في القطاع الصيدلاني.
            </li>
          </ul>
          <li class="fs-5">
            سوق المؤسسات الصغيرة والمتوسطة المخصصة للشركات الصغيرة والمتوسطة،
            وقد تم إنشاء هذه السوق في سنة 2012 بموجب نظام لجنة تنظيم عمليات
            البورصة ومراقبتها رقم 12-01 المؤرخ في 18 صفر 1433 الموافق 12 يناير
            2012، المعدّل والمتمّم للنّظام رقم 97-03 المؤرخ في 17 رجب 1418
            الموافق 18 نوفمبر 1997 المتعلّق بالنّظام العام لبورصة القيم
            المنقولة. (صادر في الجريدة الرسمية رقم 41 بتاريخ 15 يوليو 2012)
          </li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            ويمكن لهذه السوق أن توفر للمؤسسات الصغيرة والمتوسطة عند انطلاقتها
            مصدراً بديلاً للحصول على رؤوس أموال ما يتيح فرصة ممتازة للنمو
            بالنسبة للمؤسسات الصغيرة والمتوسطة من خلال توفير سوق مُحكمة التنظيم
            للمستثمرين من أجل توظيف استثماراتهم.
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            AOM Invest هي الشركة الوحيدة المدرجة في هاته السوق
          </p>
        </ul>
        <li class="fs-4 fw-bold">تتكون سوق سندات الدين من:</li>
        <ul>
          <li class="fs-5">سوق سندات الدين التي تصدرها الشركات ذات الأسهم</li>
          <li class="fs-5">
            وسوق كتل سندات الخزينة العمومية (OAT) المخصصة للسندات التي تصدرها
            الخزينة العمومية الجزائرية. وتأسست هذه السوق في سنة 2008 وتحصي
            حالياً أكثر من 25 سند للخزينة العمومية مدرجة في التسعيرة بإجمالي
            قريب من 400 مليار دينار جزائري.
          </li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            ويتم التداول على سندات الخزينة، التي تتنوع فترات إستحقاقها بين 7 و
            10 و 15 عاماً، من خلال الوسطاء في عمليات البورصة وشركات التأمين التي
            تحوز صفة "المتخصصين في قيم الخزينة" بمعدل خمس حصص في الأسبوع.
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            ويمثل الشكل البياني التالي التسعيرة الرسمية لبورصة القيم :
          </p>
          <img
            src="{% static 'pictures/الشكل1.jpg' %}"
            alt="الشكل 1"
            class="w-100 my-1"
          />
        </ul>
        <li class="fs-4 fw-bold">مجلس ادارة بورصة الجزائر</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          يتكون مجلس إدارة شركة تسيير بورصة القيم المنقولة من البنوك الستة
          المساهمين الوسطاء في عمليات البورصة، وهم:
        </p>
        <ul class="list-unstyled">
          <li class="fs-5 fw-bold">الرئيس:</li>
          <li class="fs-5">
            السيد ياسين بوقري : قائم بالإدارة يمثل المساهم البنك الوطني
            الجزائريBNA
          </li>
          <li class="fs-5 fw-bold">الأعضاء:</li>
          <li class="fs-5">
            السيدة ذهبية ارميش : قائمة بالإدارة تمثل المساهم البنك الخارجي
            الجزائري BEA
          </li>
          <li class="fs-5">
            السيدة ليدية بوجلي : قائمة بالإدارة تمثل المساهم الصندوق الوطني
            للتوفير و الاحتباط -بنكCNEP BANQUE
          </li>
          <li class="fs-5">
            السيدة أمال سلمون : قائمة بالإدارة تمثل المساهم بنك الفلاحة و
            التنمية الريقية BADR
          </li>
          <li class="fs-5">
            السيدة نور الدين بوغريرة : قائم بالإدارة يمثل المساهم القرض الشعبي
            الجزائري CPA
          </li>
          <li class="fs-5">
            السيد طارق مالوفي : قائم بالإدارة يمثل المساهم بنك التنمية
            المحلية.BDL
          </li>
          <li class="fs-5 fw-bold">المدير العام:</li>
          <li class="fs-5">السيد يزيد بن موهوب</li>
        </ul>
        <li class="fs-4 fw-bold">شركة تسيير بورصة القيم</li>
        <h5 class="h5 m-0">تعريف شركة تسيير بورصة القيم:</h5>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          يقع مقر شركة تسيير بورصة القيم ، المعروفة اختصاراً SGBV، في 27 شارع
          العقيد عميروش، الجزائر العاصمة، وهي شركة ذات أسهم برأس مال قدره
          485200000.00 دينار جزائري، وقد تأسست بموجب المرسوم التشريعي رقم 93-10
          المؤرخ في 23 مايو 1993 وتحقق إنجازها في 25 مايو 1997؛ وتمثل الشركة
          إطاراً منظماً ومضبوطاً في خدمة الوسطاء في عمليات البورصة بصفتهم
          الاحترافيين لتمكينهم من أداء مهامهم وفقاً للقوانين والأنظمة المعمول
          بها. وقد شرعت الشركة، منذ نشأتها، في تنصيب الأجهزة التنفيذية والتقنية
          اللازمة للمعاملات على القيم المنقولة المقبولة في البورصة.
        </p>
        <h5 class="h5 m-0">المؤسسون لشركة تسيير بورصة القيم المنقولة:</h5>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          البنوك الوطنية: بنك التنمية المحليةBDL، البنك الخارجي الجزائريBEA، بنك
          الفلاحة والتنمية الريفيةBADR، القرض الشعبي الجزائريCPA، البنك الوطني
          الجزائريBNA، الصندوق الوطني للتوفير والاحتياط.CNEP Banque
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          شركات التأمين الوطنية: الشركة الجزائرية للتأمين وإعادة التأمينCAAR،
          الشركة المركزية لإعادة التأمين CCR، الشركة الجزائرية للتأمين SAA،
          الشركة الجزائرية للتأمينات CAAT، الصندوق الوطني للتعاضدية الفلاحية
          CNMA.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          البنك الخاص:يونيون بنك UB
        </p>
        <h5 class="h5 m-0">المساهمون في شركة تسيير بورصة القيم المنقولة:</h5>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          بنك التنمية المحلية (BDL)
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          البنك الخارجي الجزائري (BEA)
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          بنك الفلاحة والتنمية الريفية (BADR)
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          القرض الشعبي الجزائري (CPA)
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          البنك الوطني الجزائري (BNA)
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          الصندوق الوطني للتوفير والاحتياط (بنك-CNEP)
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          BNP PARISBAS El Djazair
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          Societé Générale Algérie
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">Tell Markets</p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          البركة بنك الجزائر Al Baraka Banque Algérie
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          السلام بنك للجزائر Al Salam Bank Algeria
        </p>
        <h5 class="h5 m-0">مهام شركة تسيير بورصة القيم المنقولة:</h5>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تتكفل شركة تسيير بورصة القيم المنقولة بالأنشطة التالية :
        </p>
        <ul>
          <li class="fs-5 fw-bold">
            التنظيم الفعلي لعملية الإدراج في بورصة القيم المنقولة
          </li>
          <li class="fs-5 fw-bold">
            التنظيم المادي لحصص التداول في البورصة وإدارة نظام التداول والتسعير
          </li>
          <li class="fs-5 fw-bold">
            نشر المعلومات المتعلقة بالمعاملات في البورصة وإصدار النشرة الرسمية
            للتسعيرة.
          </li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            ويتم تنفيذ مهام الشركة تحت اشراف لجنة تنظيم عمليات البورصة ومراقبتها
            (COSOB).
          </p>
        </ul>
        <li class="fs-4 fw-bold">لجنة التداول</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تم تنصيب لجنة التداول المنصوص عليها في المادة 15 من قرار شركة تسيير
          بورصة القيم المنقولة رقــم SGBV/02/ 98 المتضمن قواعد تسيير حصص
          التداول، ابتداءً من حصة التداول المنعقدة في يوم 16 أبريل 2001.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          وشُكّلت لجنة التداول وفقاً للقرار رقم (1) لمجلس إدارة شركة تسيير بورصة
          القيم المنقولة المنعقد بتاريخ 19 مارس 2001.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          وتضم هذه اللجنة ثلاثة أعضاء على الأقل أو عدد فردي من الأعضاء يعينهم
          مجلس إدارة شركة تسيير بورصة القيم المنقولة. ويتم اختيارهم من بين
          الوسطاء في عمليات البورصة، وأعضاء من الشركة وكذا العاملين فيها، وهو
          يحملون صفة "مسؤولي قاعة التداول". ويجوز تعيين ممثلين اثنين في اللجنة
          من نفس البنك الوسيط في عمليات البورصة، ولكن هذا البنك الوسيط لن يكون
          له الحق إلا في صوت واحد.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          ويمكن للمشرف التابع للجنة تنظيم عمليات البورصة ومراقبتها، بناء على
          طلبه، أن يشارك بصفة مراقب في اجتماعات اللجنة.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          وتسيّر لجنة التفاوض، بالتعاون مع مسؤولي قاعة التداول لشركة تسيير بورصة
          القيم المنقولة، حصص التداول في البورصة وسلوك الوسطاء في عمليات البورصة
          القائمين بالتداول في البورصة، وكل الأشخاص الآخرين المرتبطين بهم
          كموظفين أو من خلال عقد.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          ويتضمن التشكيل الجديد للجنة التداول بعد اجتماعها في يوم 18 اكتوبر 2018
          الأعضاء التالية أسماؤهم:
        </p>
        <ul>
          <li class="fs-5">
            عن القرض الشعبي الجزائري: السيدة راضية آيت عبي بصفتها عضواً، والسيدة
            لمياء شرابي بصفتها عضواً مستخلفاً.
          </li>
          <li class="fs-5">
            عن بنك التنمية المحلية: السيد خالد مبربش بصفته عضواً.
          </li>
          <li class="fs-5">
            عن البنك الخارجي الجزائري: السيدة كنزة مايدي بصفتها عضواً، والسيد
            محي الدين سقني بصفته عضواً مستخلفاً.
          </li>
          <li class="fs-5">
            عن الصندوق الوطني للتوفير والاحتياط-بنك: السيدة فلة المقراني بصفتها
            عضواً والسيدة مينة شرشور بصفتها عضواً مستخلفاً.
          </li>
          <li class="fs-5">
            عن بنك الفلاحة والتنمية الريفية: السيد الطاهر بوسعيد بصفته عضواً.
          </li>
          <li class="fs-5">
            عن البنك الوطني الجزائري : السيدة نادية أحمد عوامر بصفتها عضواً.
          </li>
          <li class="fs-5">
            عن بنك بي إن بي باريبا الجزائر: السيدة نجاة فرقاني بصفتها عضواً،
            والسيد أمير خلافي بصفته عضواً مستخلفاً.
          </li>
          <li class="fs-5">
            عن سوسيتي جنيرال الجزائر : السيدة صبرينة مولوج يصفتها عضواً .
          </li>
          <li class="fs-5">عن تل ماركتس : محمد خلفاوي بصفته عضواً.</li>
          <li class="fs-5">
            بصفته رئيساً: السيد بلقاسم بطوش ( من شركة تسيير بورصة القيم
            المنقولة).
          </li>
          <li class="fs-5">
            بصفتها نائباً للرئيس: لامية قاسم (من الصندوق الوطني للتوفير
            والاحتياط-بنك ).
          </li>
        </ul>
        <li class="fs-4 fw-bold">الهيكل التنظيمي</li>
        <img
          src="{% static 'pictures/الشكل2.jpg' %}"
          alt="الشكل 2"
          class="w-100 my-1"
        />
        <li class="fs-4 fw-bold">الشركات المدرجة في بورصة الجزائر</li>
        <img
          src="{% static 'pictures/الشكل3.png' %}"
          alt="الشكل 3"
          class="w-100 my-1"
        />
        <li class="fs-4 fw-bold">قواعد التداول في بورصة الجزائر</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تخضع حصص تداول القيم المنقولة في السوق المالية الجزائرية لقرارات شركة
          تسيير بورصة القيم التي تأطر عملها :
        </p>
        <ul>
          <li class="fs-5">
            قواعد التداول في السوق الرئيسية: قرار شركة تسيير بورصة القيم رقم
            01/2018 المتضمن قواعد تسيير حصص التداول في بورصة القيم المعدل
            والمتمم
            <a href="{% static 'PDF/القرار1.pdf' %}" target="_blank"
              >(ملف pdf القرار1)</a
            >
          </li>
          <li class="fs-5">
            قواعد التداول في سوق سندات الخزينة العمومية: قرار شركة تسيير بورصة
            القيم رقم 01/2012 المتضمن قواعد تداول سندات الخزينة في بورصة الجزائر
            <a href="{% static 'PDF/القرار2.pdf' %}" target="_blank"
              >(ملف pdf القرار2)</a
            >
          </li>
          <li class="fs-5">
            قواعد التداول في سوق المؤسسات الصغيرة والمتوسطة: قرار شركة تسيير
            بورصة القيم رقم 01/2012 المتضمن قواعد تداول السندات في سوق المؤسسات
            الصغيرة والمتوسطة ببورصة الجزائر
            <a href="{% static 'PDF/القرار3.pdf' %}" target="_blank"
              >(ملف pdf القرار3)</a
            >
          </li>
        </ul>
        <li class="fs-4 fw-bold">مواقيت و طريقة التسعير بورصة الجزائر</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تقام حصص البورصة في مقصورة التداول بالبورصة بمعدل ثلاثة ايام في
          الاسبوع من 9:30 إلى 11:00 بالنسبة للأسهم وسندات الشركات، ومن الأحد إلى
          الخميس بالنسبة لسندات الخزينة العمومية.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          بمجرد استلام الأمر من قبل الوسيط في عمليات البورصة، يتم تقديمه إلى
          البورصة من أجل تنفيذه. وتتم عمليات التبادل بشكل أوتوماتيكي من خلال
          نظام إلكتروني للتسعير بطريقة التسعير الثابت.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          ويتمثّل نظام التسعير الثابت في تطبيق سعر واحد على جميع المعاملات التي
          تُجرى بالنسبة لكل سند خلال حصة التداول، ويتيح هذا النوع من التسعير:
        </p>
        <ul>
          <li class="fs-5">تضخيم حجم السندات المتبادلة</li>
          <li class="fs-5">تقليص اختلال التوازن من جهة المشتري أو البائع</li>
          <li class="fs-5">
            تقليص تقلبات الأسعار مقارنة مع سعر الإغلاق في آخر حصة للبورصة.
          </li>
        </ul>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          في ختام الحصة، يتم إجراء عمليات الكتل التي تمثل أوامر البيع والشراء
          على عدد كبير من الأسهم و/أو السندات. وينبغي أن تتم هذه المعاملات وفقاً
          للسعر المحدد في السوق.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          ويمكن تلخيص مسار حصة التداول على النحو التالي:
        </p>
        <img
          src="{% static 'pictures/الشكل4.jpg' %}"
          alt="الشكل 4"
          class="w-100 my-1"
        />
        <li class="fs-4 fw-bold">نظام التسوية و التسليم</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تعتبر سوق البورصة الجزائرية سوقاً فورية، وهو ما يعني أن المشتري يجب أن
          يدفع على الفور المبالغ المقابلة لأمر الشراء الذي أصدره كما يجب على
          البائع أن يسلم السندات المتعلقة بأمر البيع الذي أجراه.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          وبعد إقفال الحصة، تقوم شركة تسيير بورصة القيم المنقولة بنشر نتائج
          الحصة في مقصورة التداول، وعلى شاشات التلفزيون وعلى موقعها على الانترنت
          من أجل إطلاع الجمهور عليها.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          بعد تنفيذ الأمر، يتم نقل ملكية السندات المباعة وتسوية السندات
          المشتراة. ويتم إجراء العملتين بشكل متزامن عبر نظام الجزائرية للتسوية
          بعد ثلاثة أيّام (يوم+3) بالنسبة للقيم المنقولة ويوم واحد (يوم+1)
          بالنسبة لسندات الخزينة العمومية.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          ومنذ تنصيب نظام الجزائرية للتسوية تم التخلي عن التعامل الورقي بالنسبة
          للقيم المنقولة. إذ صارت تُسجّل في حسابات السندات وتُدار من قبل ماسكي
          الحسابات-محافظي السندات (TCC ) .
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          من المهم الإشارة إلى أن الوسطاء في عمليات البورصة ملزمون بالتأكد من أن
          أصحاب الأوامر يملكون السندات أو الأموال لتغطية العملية التي يرغبون في
          إجراءها. وفي حالة عدم تسليم السندات خلال الآجال المحددة، يُعلن الوسيط
          في عمليات البورصة متخلفاً عن التسليم. ويمكن لشركة تسيير بورصة القيم
          المنقولة، في هذه الحالة، أن تقوم بإعادة شراء السندات التي لم يتم
          تسليمها في السوق.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          ويبين الشكل البياني التالي عملية اقتناء و/ أو بيع السندات في البورصة:
        </p>
        <img
          src="{% static 'pictures/الشكل5.jpg' %}"
          alt="الشكل 5"
          class="w-100 my-1"
        />
        <li class="fs-4 fw-bold">شروط القبول او الادراج في بورصة الجزائر</li>
        <ol>
          <li class="fs-5 fw-bold">السوق الرسمي</li>
          <ul>
            <li class="fs-5">
              يجب أن تكون الشركة منظمةً قانونياً على شكل شركة ذات أسهم (SPA)
            </li>
            <li class="fs-5">
              أن يكون لديها رأس مال مدفوع بقيمة دنيا تساوي خمسة ملايين دينار
              (5000000 دينار جزائري)
            </li>
            <li class="fs-5">
              أن تكون قد نشرت الكشوف المالية المعتمدة للسنوات المالية الثلاثة
              السابقة للسنة التي تم فيها تقديم طلب القبول؛
            </li>
            <li class="fs-5">
              أن تقدم تقريراً تقييمياً لأصولها يُعدّه عضو في الهيئة الوطنية
              للخبراء المحاسبين، من غير محافظ حسابات الشركة، أو أي خبير آخر بحيث
              تعترف اللجنة بتقريره التقييمي، على أن لا يكون عضواً في هذه
              الأخيرة؛
            </li>
            <li class="fs-5">
              أن تكون قد حققت أرباحاً خلال السنة السابقة لطلب القبول، ما لم
              تعفيها اللجنة من هذا الشرط؛
            </li>
            <li class="fs-5">
              يجب على الشركة إحاطة اللجنة بكل عمليات التحويل أو البيع التي طرأت
              على عناصر من الأصول قبل عملية الإدراج؛
            </li>
            <li class="fs-5">
              إثبات وجود هيئة داخلية لمراجعة الحسابات تكون محل تقدير من قبل
              محافظ الحسابات في تقريره عن الرقابة الداخلية للشركة.
            </li>
            <li class="fs-5">
              وإن لم يوجد ذلك، فيجب على الشركة المبادرة إلى تنصيب مثل هذه الهيئة
              خلال السنة المالية التالية لقبول سنداتها في البورصة؛
            </li>
            <li class="fs-5">ضمان التكفّل بعمليات تحويل السندات؛</li>
            <li class="fs-5">تسوية النزاعات الكبرى بين المساهمين والمؤسسة؛</li>
            <li class="fs-5">العمل على الامتثال لشروط الكشف عن المعلومات.</li>
            <li class="fs-5">
              الطرح للاكتتاب العام سندات رأس المال بما يمثل 20٪ على الأقل من رأس
              مال الشركة، في موعد لا يتجاوز يوم الإدراج.
            </li>
            <li class="fs-5">
              ينبغي أن توزع سندات رأس المال المطروحة للاكتتاب العام على مائة
              وخمسين (150) مساهما كحد أدنى، في موعد لا يتجاوز تاريخ الإدراج.
            </li>
          </ul>
          <li class="fs-5 fw-bold">سوق السندات</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            تعتبر سندات الاستحقاق و السندات القابلة للتحويل الى سندات رأسمال و
            السندات المساهمة أو أي وصل آخر يخول الحق في سندات رأس المال كسندات
            دين.
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            باستثناء سندات الخزينة التي تقبل بقوة القانون يجب أن يكون سعر
            السندات الدين التي طلب بشأنها القبول بالتداول في البورصة مساويا على
            اللأقل لخمسمائة مليون دينار (500.000.000 دج) و ذلك يوم اللادراج.
          </p>
          <li class="fs-5 fw-bold">سوق الشركات الصغيرة والمتوسطة</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            تعتبر شروط الإدراج في السوق الرئيسية صارمة نوعاً ما و و عادة لا تملك
            المؤسسات الصغيرة والمتوسطة و عادة الشروط اللازمة لتلبيتها، لهذا
            أُدرجت بعض التعديلات التنظيمية خلال سنة 2012 على تلك الشروط حيث
            تميّزت بتخفيفها، فصارت المؤسسات الصغيرة والمتوسطة ملزمة بأن:
          </p>
          <ul>
            <li class="fs-5">
              تكون على شكل شركة ذات أسهم، وينبغي لها أن تعيّن، لمدة خمس (05)
              سنوات، مستشاراً مرافقاً يسمى "مرقي البورصة''؛
            </li>
            <li class="fs-5">
              تفتح رأسمالها بنسبة 10٪ كحد أدنى يوم الإدراج في البورصة ؛
            </li>
            <li class="fs-5">
              تطرح للاكتتاب العام سندات رأس المال التّابعة لها، بحيث تُوزَّع على
              ما لا يقل عن خمسين (50) مساهماً أو ثلاثة (03) مستثمرين من المؤسسات
              يوم الإدراج ؛
            </li>
            <li class="fs-5">
              تنشر كشوفها المالية المصدّقة للعامين الماضيين، ما لم تعفها لجنة
              تنظيم عمليات البورصة ومراقبتها من هذا الشرط. وأما شروط الأرباح
              والحد الأدنى لرأس المال فليست مفروضة على الشّركة التي تطلب الإدراج
              في سوق المؤسسات الصغيرة والمتوسطة، وذلك دون الإخلال بأحكام القانون
              التجاري المتعلقة بالشركات ذات الأسهم التي تقوم باللّجوء العلني إلى
              الادخار.
            </li>
          </ul>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            وإلى ذلك، لا تنطبق هذه الشّروط على الشّركة التي تكون قيد الإنشاء من
            خلال عملية اللّجوء العلني إلى الادخار.
          </p>
          <li class="fs-5 fw-bold">المستثمرون المؤسّساتيون :</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            هي الهيئات المكلفة بالتّوظيف الجماعي للقيم المنقولة، البنوك
            والمؤسسات المالية وشركات التأمين وصناديق الاستثمار والمؤسسات
            المسيّرة للأصول.
          </p>
        </ol>
        <li class="fs-4 fw-bold">مزايا الإدراج في بورصة الجزائر</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          يمنح إدراج المؤسسة في البورصة العديد من المزايا:
        </p>
        <ul>
          <li class="fs-5 fw-bold">رفع رأس المال و تعزيز الأموال الخاصة</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            مهما كانت طبيعة طموحات الشركة، مثل إطلاق مشاريع تنموية كبرى (إنشاء
            فرع لها، أو شراء مؤسسة ... ) وأيضا زيادة أو تحسين قدرتها الإنتاجية
            وتخفيض ديونها ... فإن البورصة تشكل في هذا الشأن مصدر تمويل بديل ولا
            ينضب.
          </p>
          <li class="fs-5 fw-bold">تنويع مصادر التمويل</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            يجب على الشركة تنويع مصادرها للتمويل بفضل البورصة التي تتيح لها
            الفرصة لذلك من خلال المجموعة الواسعة من المنتجات التي تقدمها
            للمستثمرين مع حماية المساهمين الأصليين للشركة. وبالتالي، يمكن
            للشركة، ما إن يتم إدراجها في البورصة، من التزود في السوق بالأموال
            الخاصة والأموال المقترضة التي تحتاجها.
          </p>
          <li class="fs-5 fw-bold">توسيع نطاق المساهمين</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            تسهل عملية الإدراج في البورصة دخول مساهمين جدد قد تحتاجهم الشركة
            خلال سعيها لتطوير أعمالها. وهي تسمح أيضاً بالخروج من رأس مال الشركة
            حتى ولو لم يستطع المساهمون الآخرون أو لم يرغبوا في شراء أسهمهم.
          </p>
          <li class="fs-5 fw-bold">تعزيز الشهرة</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            تسمح عملية إدراج الشركة في البورصة بتعزيز سمعتها و شهرتها وتعزيز
            مصداقيتها لدى شركائها على المستويين الوطني والدولي.
          </p>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            وبالإضافة إلى الفوائد المباشرة للإدراج في البورصة، تتيح هذه العملية
            عدة إمكانيات، نذكر منها:
          </p>
        </ul>
        <ul>
          <li class="fs-5 fw-bold">تثمين الموارد البشرية:</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            فالشركة التي تندرج في البورصة تخصص، بشكل عام، جزءًا من العملية
            لموظفيها وتمنحهم الفرصة ليصبحوا من المساهمين فيها. وهذا النظام
            التحفيزي يسمح بتعبئة وتحفيز الموارد البشرية.
          </p>
          <li class="fs-5 fw-bold">
            تحقيق استدامة الشركات ومراقبتها الاحتياطية
          </li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            تسهل عملية الإدراج في البورصة أيضا استدامة الشركة، ولا سيما في حالة
            الشركات العائلية لأنها تتجنّب أي انقسام أو حل بعد رحيل أو وفاة أحد
            المساهمين الكبار. كما تضمن المراقبة الاحتياطية للشركة من خلال توزيع
            حصة من رأس المال أو اللجوء إلى استخدام المنتجات المالية المناسبة.
          </p>
          <li class="fs-5 fw-bold">التغيير في نظام " حوكمة الشركات "</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            تفرض عملية الإدراج في البورصة الحد الأدنى من الموثوقية والشفافية في
            حسابات الشركة. وتنطوي على نحو أوسع، على جهد للتواصل المالي الموجه
            نحو المستثمرين الخارجيين الفعليين أو المحتملين. وهذا ما يؤدي إلى
            إنشاء نظام "حوكمة للشركات " حديث من أجل تحقيق الرقابة الداخلية
            والاحترافية للهيئات الإدارية والتسييرية.
          </p>
        </ul>
        <li class="fs-4 fw-bold">تكلفة و جباية التسعير في بورصة الجزائر</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تنطوي عملية الإدراج في البورصة على مصاريف يتغير مبلغها تبعاً ل:
        </p>
        <ul>
          <li class="fs-5">حجم العملية؛</li>
          <li class="fs-5">أسلوب الإدراج في البورصة والسوق المختارة؛</li>
          <li class="fs-5">حجم الجهد المبذول في الاتصالات المالية.</li>
        </ul>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">وهي تشمل:</p>
        <ul>
          <li class="fs-5">
            الرسوم المدفوعة للمتدخلين في البورصة وهم لجنة تنظيم عمليات البورصة
            ومراقبتها، وشركة تسيير بورصة القيم المنقولة والمؤتمن المركزي والوسيط
            في عمليات البورصة قائد الفريق، وهي ملخصة في الجدول أدناه،
          </li>
          <li class="fs-5">
            عمولات وأتعاب المرافقة والتوظيف والاستشارات المالية والقانونية،
          </li>
          <li class="fs-5">مصاريف الإشهار والاتصال</li>
        </ul>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          الهيئة الرسوم والمصاريف
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          لجنة تنظيم عمليات البورصة ومراقبتها تأشيرة المذكرة الإعلامية:
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تُقدّر الرسوم المدفوعة للجنة تنظيم عمليات البورصة ومراقبتها ب 0.075٪
          من مبلغ الإصدار أو من العرض العلني، على أن لا تتجاوز خمسة (5) ملايين
          دينار جزائري.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          شركة تسيير بورصة القيم القبول في البورصة
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تقدّر نسبة العمولة التي تتقاضاها شركة تسيير بورصة القيم ب 0.05٪ من
          المبلغ الاسمي المقبول. ولا يجوز أن يتعدى مبلغ هذه العمولة 2500000
          دينار جزائري.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          مصاريف تسجيل السند في التسعيرة
        </p>
        <ul>
          <li class="fs-5">
            التسجيل الأولي...................400000 دينار جزائري
          </li>
          <li class="fs-5">
            التسجيل الإضافي.................100000 دينار جزائري
          </li>
          <li class="fs-5">
            استبدال وتعديل....................100000 دينار جزائري
          </li>
        </ul>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          مصاريف البقاء في التسعيرة................. 200000 دينار جزائري بالنسبة
          للأسهم ................30000 دينار جزائري بالنسبة للسندات
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          مصاريف تنظيم العرض العلني للشراء
        </p>
        <ul>
          <li class="fs-5">
            الجزء الثابت: ........................... 1000000 دينار جزائري
          </li>
          <li class="fs-5">
            الجزء المتغير: ..........................100000 دينار جزائري لكل حصة
            متكوّنة من 1000 أمر تتم معالجته.
          </li>
        </ul>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          المؤتمن المركزي على السندات مصاريف الانضمام إلى المؤتمن المركزي على
          السندات
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تقدّر نسبة المصاريف ب 0.01٪ من رأس المال الاجتماعي،
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          يكون الحد الأدنى للأموال المحصّلة هو 20000 دينار جزائري والحد الأقصى
          هو 200000 دينار جزائري.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          الوسيط في عمليات البورصة قائد الفريق مصاريف تتعلق بالخدمات التي يقدمها
          الوسيط في عمليات البورصة المُرافق والبنوك الأخرى التي تشكّل نقابة
          التوظيف (لجنة التوظيف).
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">الجباية</p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          وفقاً للقانون رقم 09 - 09 المؤرّخ في 13 محرّم عام 1431 الموافق 30
          ديسمبر سنة 2009 المتضمّن قانون المالية لسنة 2010 :
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          المـادة 32 : » تــعـفى من الـضـريـبــة عـلى الـدخل الإجـمـالـي أو
          الـضـريـبـة عـلى أربــاح الـشـركـات الحـواصل وفـوائض القيمة الناتجة عن
          التنازل عن الأسهم والأوراق الماثلة المحققة في إطار عملية الدخول
          للبورصة. تعفى من حقوق التسجيل العمليات المتعلقة بالدخول للبورصة. «
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          وفقاً للقانون رقم 13 - 08 المؤرّخ في 27 سفر عام 1435 الموافق 30 ديسمبر
          سنة 2013 المتضمّن قانون المالية لسنة 2014 :
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          المادة 66 : »تـستـفيـد الشـركات الـتي تسـعر أسـهمـها الـعاديـة في
          البـورصةr من تـخفـيض علـى الضـريبة عـلى أرباح الـشـركات يـساوي مـعدل
          فـتح رأسـمالـها فـي البـورصةلمـدة خمس (5) سـنوات ، وذلك ابـتداء من
          أوّل يناير سنة 2014.«
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          وفقاً للقانون رقم 14 - 10 المؤرّخ في 08 ربيع الأول عام 1436 الموافق 30
          ديسمبر سنة 2014 المتضمّن قانون المالية لسنة2015 :
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          المادة 73: "تعدل أحكام المادة63 من القانون رقم02-11 المؤرخ في24 ديسمبر
          سنة 2002 والمتضمن قانون المالية لسنة المعدلة بموجب المادة 67 من
          القانون رقم 13 – 08 المؤرخ في30 ديسمبر سنة 2013 و المتضمن قانون
          المالية لسنة 2014 وتحرر كما يأتي :
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          المادة 63: تعفى من الضريبة على الدخل الاجمالي أو الضريبة على أرباح
          الشركات، نواتج و فوائض القيمة الناتجة عن عمليات التنازل عن الالتزامات
          والسندات الماثلة والأوراق الماثلة للخزينة المسعرة في البورصة فيلمدةخمس
          ( 5) سنوات ابتداءمنأولينايرسنة
          2013......(بدونتغييرحتى)فيالقيمالمنقولة.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          تعفى من الضريبة على الدخل الاجمالي أو الضريبة على أرباح الشركات نواتج
          و فوائض القيمة الناتجة عن عمليات التنازل عن الالتزامات والسندات
          الماثلة والأوراق الماثلة للخزينة المسعرة في البورصة أو المتداولة في
          سوق منظمة لأجل أدنى يقدر بخمس ( 5) سنوات والصادرة خلال فترة خمس ( 5)
          سنوات والصادرة خلال فترة خمس ( 5) سنوات ابتداء من أول يناير سنة 2013
          (بدون تغيير حتى) هذه المرحلة.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          أدرج قانون المالية لعام 2021 ، ولا سيما المادة 133 منه ، مقياسًا
          ضريبيًا للشركات التي يتم إدراج أسهمها العادية في البورصة ، من أجل
          تشجيع الترويج
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          لتمويل الشركات عبر البورصة. وبالتالي ، تستفيد الشركات المدرجة من تخفيض
          في ضريبة دخل الشركات (IBS) يساوي معدل افتتاح رأس مال أسهمها في سوق
          الأوراق المالية، لمدة 3 سنوات اعتبارًا من 1 جانفي 2021.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          المادة 133: تعدل أخكام المادة66 من القانون رقم 13-08 المؤرخ في 27 صفر
          عام 1435 الموافق 30 ديسمبر 2013 و المتضمن قانون المالية لسنة 2014، و
          تحرر كما يلي:
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          "المادة 66: تستفيد الشركات التي تسعر أسهمها العادية في البورصة، من
          تخفيض في الضريبة على أرباح الشؤكات يساوي معدل فتح رأسمالها في البورصة،
          لمدة ثلاث (03) سنوات، ابتداء من أول جانفي سنة 2021".
        </p>
        <li class="fs-4 fw-bold">المتدخلون في السوق المالي بورصة الجزائر</li>
        <ol>
          <li class="fs-4 fw-bold">لجنة المراقبة</li>
          <ul>
            <li class="fs-5 fw-bold">
              لجنة تنظيم عمليات البورصة ومراقبتها COSOB
            </li>
            <ul>
              <li class="fs-5">الدور:</li>
              <p class="mb-0 p-0 fs-5 indent-2 text-justify">
                تتمثل مهام لجنة تنظيم عمليات البورصة ومراقبتها (COSOB) في تنظيم
                ومراقبة سوق القيم المنقولة، ولا سيما من خلال الحرص على:
              </p>
              <ul>
                <li class="fs-5">حماية المستثمرين في القيم المنقولة؛</li>
                <li class="fs-5">السير الحسن وشفافية سوق القيم المنقولة.</li>
              </ul>
              <p class="mb-0 p-0 fs-5 indent-2 text-justify">
                ومن أجل تمكينها من تحقيق مهامها، خُولت هذه اللجنة بالسلطات
                التالية:
              </p>
              <ul>
                <li class="fs-5">السلطة التنظيمية؛</li>
                <li class="fs-5">سلطة الإشراف والمراقبة؛</li>
                <li class="fs-5">السلطة التأديبية والتحكيمية.</li>
              </ul>
              <li class="fs-5">التشكيل:</li>
              <p class="mb-0 p-0 fs-5 indent-2 text-justify">
                تتشكل من رئيس يُعين بموجب مرسوم رئاسي لمدة 04 سنوات،
              </p>
              <p class="mb-0 p-0 fs-5 indent-2 text-justify">
                ستة أعضاء يعينون بقرار من وزير المالية لمدة 04 سنوات.
              </p>
              <li class="fs-5">السلطات:</li>
              <p class="mb-0 p-0 fs-5 indent-2 text-justify">
                خُولت لجنة تنظيم عمليات البورصة ومراقبتها COSOB من أجل انجاز
                مهامها بالسلطة التنظيمية، وسلطة الإشراف والمراقبة والسلطة
                التأديبية.
              </p>
            </ul>
            <li class="fs-5 fw-bold">السلطة التنظيمية :</li>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              تصدر اللجنة اللوائح التنظيمية المتعلقة، خاصة ب:
            </p>
            <ul>
              <li class="fs-5">
                التزامات الإفصاح عن المعلومات من جانب الجهات المصدرة عند إصدار
                القيم المنقولة من أجل اللجوء العلني للادخار، وعند القبول في
                البورصة أو العروض العلنية؛
              </li>
              <li class="fs-5">
                اعتماد الوسطاء في عمليات البورصة فضلا عن القواعد المهنية التي
                تنطبق عليها؛
              </li>
              <li class="fs-5">
                شروط التداول والمقاصة للقيم المنقولة المسجلة في البورصة؛
              </li>
              <li class="fs-5">القواعد المتعلقة بمسك حساب الحفاظ على السند؛</li>
              <li class="fs-5">
                القواعد المتعلقة بتسيير نظام التسوية/ تسليم السندات؛
              </li>
              <li class="fs-5">تسيير محفظة القيم المنقولة.</li>
            </ul>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              وتخضع اللوائح التنظيمية الصادرة عن اللجنة لتصديق وزير المالية
              وتُنشر في الجريدة الرسمية.
            </p>
            <li class="fs-5 fw-bold">سلطة المراقبة والإشراف :</li>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              وتسمح هذه السلطة للجنة بأن تضمن، على وجه الخصوص:
            </p>
            <ul>
              <li class="fs-5">
                الالتزام بالقوانين والأنظمة من قبل المشاركين في السوق؛
              </li>
              <li class="fs-5">
                قيام الشركات باللجوء العلني للادخار بما يتوافق مع التزامات
                الإفصاح عن المعلومات التي تخضع لها؛
              </li>
              <li class="fs-5">السير الحسن للسوق.</li>
            </ul>
            <li class="fs-5 fw-bold">السلطة التأديبية والتحكيمية:</li>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              تُنشأ بداخل لجنة تنظيم عمليات البورصة ومراقبتها غرفة تأديبية
              وتحكيمية تتألف من رئيس وعضوين (02) منتخبين من بين أعضاء اللجنة،
              وعضوين (02) من القضاة يعينهم وزير العدل.
            </p>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              وتختص الغرفة في المسائل التأديبية بالتحقيق في أي خرق للالتزامات
              المهنية والأخلاقية يرتبكه الوسطاء في عمليات البورصة، وكل انتهاك
              للأحكام التشريعية والتنظيمية المطبقة عليهم.
            </p>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              وأما في المسائل التحكيمية، فتختص الغرفة بالتحقيق في النزاعات
              التقنية الناشئة عن تفسير القوانين واللوائح التنظيمية التي تحكم
              نشاط سوق البورصة والناشبة بين:
            </p>
            <ul>
              <li class="fs-5">الوسطاء في عمليات البورصة؛</li>
              <li class="fs-5">
                الوسطاء في عمليات البورصة وشركة تسيير بورصة القيم المنقولة
                (SGBV)؛
              </li>
              <li class="fs-5">الوسطاء في عمليات البورصة وزبائنهم؛</li>
              <li class="fs-5">الوسطاء في عمليات البورصة و الجهات المصدرة</li>
            </ul>
          </ul>
          <li class="fs-4 fw-bold">المؤتمن المركزي</li>
          <ul>
            <li class="fs-5 fw-bold">الدور</li>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              تم تحديد دور المؤتمن المركزي بموجب القانون 03-04 المؤرخ في 17
              فبراير 2003، ويُعنى المؤتمن المركزي (الجزائر للمقاصة) بالعمليات
              التالية:
            </p>
            <ul>
              <li class="fs-5">
                مركزة حفظ السندات مما يسهل انتقالها بين الوسطاء الماليين؛
              </li>
              <li class="fs-5">
                إنجاز المعاملات على السندات لفائدة الشركات المُصدِرة، (توزيعات
                الأرباح، زيادة رأس المال...)؛
              </li>
              <li class="fs-5">
                الترقيم القانوني للسندات المقبولة في عملياته، وفقاً للمعايير
                الدولية (ISIN: الرقم الدولي لتعريف الأوراق المالية)؛
              </li>
              <li class="fs-5">نشر المعلومات المتعلقة بالسوق.</li>
            </ul>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              ويساعد إنشاء هذه الهيئة على تقليل التكاليف وآجال عمليات التسوية/
              التسليم وغيرها من العمليات المتعلقة بالسندات (استلام توزيعات
              الأرباح والفوائد وممارسة الحقوق ...).
            </p>
          </ul>
          <li class="fs-4 fw-bold">وسطاء عمليات البورصة</li>
          <ul>
            <li class="fs-5 fw-bold">الوسطاء في عمليات البورصة</li>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              حدد المرسوم التشريعي رقم 93/10، المعدل والمتمم، المؤرخ في 23 مايو
              1993 المتعلق ببورصة القيم المنقولة وضع الوسطاء في عمليات البورصة،
              ومنحهم السلطة الحصرية للتداول على القيم المنقولة في البورصة.
            </p>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              وتقوم لجنة تنظيم عمليات البورصة ومراقبتها بتنظيم ومتابعة ومراقبة
              نشاط الوسطاء في عمليات البورصة، كما أنّها الجهة التي تمنحهم
              الاعتماد.
            </p>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              ويطلب الوسطاء في عمليات البورصة الاعتماد في فئة من الفئات المحددة
              أدناه:
            </p>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              (انظر لائحة لجنة تنظيم عمليات البورصة ومراقبتها رقم 96-03 بتاريخ
              17 صفر 1417 الموافق 3 يوليو 1996 بشأن شروط اعتماد الوسطاء في
              عمليات البورصة والتزاماتهم ومراقبتهم، الفصل 1 القسم 1 المادة 2)
            </p>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              ويُمارس نشاط الوسيط في عمليات البورصة من قبل الأفراد أو الشركات
              ذات الأسهم الحاصلين على اعتماد اللجنة.
            </p>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              (انظر لائحة لجنة تنظيم عمليات البورصة ومراقبتها رقم 96-03 بتاريخ
              17 صفر 1417 الموافق 3 يوليو 1996 بشأن شروط اعتماد الوسطاء في
              عمليات البورصة والتزاماتهم ومراقبتهم)
            </p>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              ويتضمن سوق المال في الجزائر حالياً تسعة وسطاء في عمليات البورصة
              يمثلون البنوك العمومية التالية: بنك الفلاحة والتنمية الريفية BADR،
              وبنك التنمية المحلية BDL ، وبنك الجزائر الخارجي BEA، والبنك الوطني
              الجزائري BNA، والصندوق الوطني للتوفير والاحتياط-بنك CNEP-Banque،
              والقرض الشعبي الجزائري CPA، والبنكين الخاصين بي ان بي باريبا
              الجزائرBNP Paribas El djazair،Sociéte Générale Algérie,وشركة خاصة
              Tell Markets
            </p>
            <li class="fs-5 fw-bold">المهام:</li>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              يُكلف الوسطاء في عمليات البورصة بتوفير الخدمات الاستثمارية المالية
              المحددة بموجب المرسوم التشريعي رقم 93-10 المعدل والمتمم المؤرخ في
              23 مايو 1993، وهي:
            </p>
            <ul>
              <li class="fs-5">
                توظيف القيم المنقولة والمنتوجات المالية لجهة المصدرة؛
              </li>
              <li class="fs-5">التداول في السوق لحساب زبائنهم؛</li>
              <li class="fs-5">تسيير حافظة السندات بموجب تفويض؛</li>
              <li class="fs-5">نشاط البيع والشراء كطرف مقابل؛</li>
              <li class="fs-5">
                عمليات الترويج المتصلة بأحد الأنشطة المذكورة أعلاه؛
              </li>
              <li class="fs-5">
                وقد تم توسيع نشاط الوسطاء في عمليات البورصة ليشمل مجالات جديدة
                مثل ضمان الأداء الجيد للمعاملات المالية، وإرشاد المستثمرين...
              </li>
            </ul>
          </ul>
        </ol>
        <li class="fs-4 fw-bold">
          اجراءات شطب القیم المنقولة من بورصة الجزائر
        </li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          عملت لجنة تنظیم ومراقبة عملیات البورصة بصیاغة قواعد شطب للقیم المنقولة
          من جدول الأسعار إما مؤقتا أو نهائیا، إذا استدعى الأمر ذلك بهدف حمایة
          المستثمرین ویمكن أن تشطب القیمة من الجدول الرسمي لتسعیرة البورصة وفقا
          لثلاث حالات :
        </p>
        <ol>
          <li class="fs-4 fw-bold">
            شطب القیم المنقولة بطلب من شركة تسییر البورصة:
          </li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            بعد تدقیق شركة تسییر البورصة وتحلیلها لسوق القیم ومصالح الحاملین
            وتقدیر العناصر الآتیة:
          </p>
          <ul>
            <li class="fs-5">
              المعدل الیومي للمعدلات المعبر عنها بالدینار وبالسندات وكذا عدد
              أیام التداول مقدرة على السندات التي كانت في السندات محل تسعیره.
            </li>
            <li class="fs-5">
              دفع الأرباح خلال السنوات المالیة الثلاث الأخیرة
            </li>
            <li class="fs-5">
              نسبة راس المال الموزع على الجمهور بالاتفاق مع شركة تسییر القیم
              المنقولة تحدد اللجنة الحد الأدنى الذي على أساسه یقدر شطب القیمة،
              وتكون مراجعة هذا الحد محل إعلان ینشر من طرف شركة القیم المنقولة.
            </li>
          </ul>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            إن شطب سند راس المال یعني أن كل السندات المرتبطة به أو التي ترجع
            إلیه مثل سندات الاستحقاق القابلة للتحویل إلى سندات راس المال، إضافة
            إلى الحقوق المتعلقة بهذا السند، إلا أن سندات الدیون فتبقي في جدول
            أسعار سندات الاستحقاق إلى غایة تسدیدها ویمكن لشركة تسییر البورصة أن
            تقصي بشطب بعض التسعیرة فقط.
          </p>
          <li class="fs-4 fw-bold">شطب القیم المنقولة تلقائیا:</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            یتم شطب القیم المنقولة تلقائیا عند حلول أجل السند كما في حالة تسدید
            سندات الدین أو بمناسبة زوال الشركة المصدرة كما هو الحال على مستوى
            شركة الخطوط الجویة التي حل أجل استحقاقها في سنة 2009
          </p>
          <li class="fs-4 fw-bold">شطب القیم المنقولة اختیاریا:</li>
          <p class="mb-0 p-0 fs-5 indent-2 text-justify">
            یتم هذا الشطب من طرف المصدر عن طریق عرض عمومي للسحب وهو الأسلوب الذي
            اتخذته ریاض سطیف عند مغادرتها لسوق البورصة سنة ،2006 وتتم العملیة
            بالطرقة التالیة:
          </p>
          <ul>
            <li class="fs-5">
              تقدیم طلبات سحب السندات المسعرة إلى شركة تسییر بورصة القیم
              المنقولة للحصول على الموافقة المسبقة.
            </li>
            <li class="fs-5">
              تقوم شركة تسییر البورصة بنشر بلاغ فتح العرض بمجرد أن یتم التصریح
              بقبوله
            </li>
            <li class="fs-5">
              یبین هذا البلاغ أنه یتم الإعلان عن شطب مجموع سندات وأسهم الشركة
              المعنیة من جدول الأسعار وبالنتیجة إغلاق العرض العمومي للسحب.
            </li>
            <li class="fs-5">
              تقوم شركة تسییر القیم بنشر السعر والشروط التي من خلالها تعرض
              الشركة خلال 30 یوما على الأقل إعادة شراء كل السندات التي ستقدم
              إلیها.
            </li>
            <li class="fs-5">
              نشر بیان الشطب من طرف شركة تسییر بورصة القیم المنقولة.
            </li>
            <li class="fs-5">
              ینشر قرار اللجنة في الجریدة الرسمیة لجدول التسعیر
            </li>
          </ul>
        </ol>
        <li class="fs-4 fw-bold">السوق النقدية ما بين المصارف</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          يعتبر سوق ما بين البنوك جزءًا قويًا من سوق النقد. إنه بامتياز مكان
          المواجهة بين عروض وطلبات السيولة من البنوك والمؤسسات المالية وأصحاب
          المصلحة الآخرين. يتداول المشاركون السيولة قصيرة الأجل عن طريق الاتفاق
          المتبادل. كما يمكن أن تكون البنوك مقرضة ومقترضة.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          ويدير بنك الجزائر السوق النقدية ما بين المصارف ويعمل انتقاليا، كوسيط.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          يبلغ حاليا عدد المشاركين في السوق النقدية الموسعة ما بين المصارف 41
          مشاركا، بما في ذلك:
        </p>
        <ul>
          <li class="fs-5">19 بنكا تجاريا</li>
          <li class="fs-5">08 مؤسسات مالية</li>
          <li class="fs-5">01 مؤسسة مالية متخصصة</li>
          <li class="fs-5">
            12 مؤسسة مالية غير بنكية (معظمها من المستثمرين المؤسسيين وشركات
            التأمين).
          </li>
        </ul>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          وكجزء من تطوير السوق النقدية ما بين المصارف، اتخذ بنك الجزائر ونفذ
          عددا من الإجراءات الرامية إلى تحسين شفافية وفعالية آليات التفاوض
          وزيادة أمن السوق.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          يمنح بنك الجزائر بانتظام معلومات عن المعاملات المنفذة (الحجم، آجال
          الاستحقاق، متوسط المعدل المرجح للعمليات أساس يومي، متوسط المعدل الشهري
          للسوق النقدية والمعدل السنوي النقدي).
        </p>
        <li class="fs-4 fw-bold">وظائف بورصة الجزائر</li>
        <ul>
          <li class="fs-5">تشجيع الادخار.</li>
          <li class="fs-5">
            عرض راس المال الاجتماعي ( الادخار العام ) للمؤسسات.
          </li>
          <li class="fs-5">المضاربة</li>
          <li class="fs-5">توفير السيولة.</li>
          <li class="fs-5">التسعير المستمر للقيم المنقولة.</li>
        </ul>
        <li class="fs-4 fw-bold">تعريف القيم المنقولة</li>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          هي عبارة عن شهادات تصدر من قبل شركات الاسهم المدرجة في البورصة أوالتي
          يمكنها ذلك و التي تمنح حقوق متماثلة بالنسبة للصنف الواحد.
        </p>
        <p class="mb-0 p-0 fs-5 indent-2 text-justify">
          و نميز بين الاصناف التالية
        </p>
        <ul>
          <li class="fs-5">
            القيم المنقولة التي تمثل حق ملكية و هي الاسهم و هي عدة أنواع
          </li>
          <ul>
            <li class="fs-5">بحسب نوع المساهمة. أسهم نقدية و أسهم نوعية.</li>
            <li class="fs-5">بحسب الملكية أسهم اسمية و أسهم لحاملها.</li>
            <li class="fs-5">
              بحسب المزايا التي تمنحها أسهم عادية و أسهم ممتازة.
            </li>
            <li class="fs-5">
              أسهم التمتع و هي أسهم تم استرداد قيمتها كليا أو جزئيا و يبقى
              حاملها يتمتع يالحقوق الخاصة بها باستثناء نوع من التوزيعات.
            </li>
            <li class="fs-5">شهادات الاستثمار و شهادات حق التصويت.</li>
            <p class="mb-0 p-0 fs-5 indent-2 text-justify">
              هي ناتجة عن الفصل بين الحقوق التي تمنحها الاسهم فالحقوق العينية
              ينتج عنها شهادات الاستثمار أما حقوق التصويت فينتج عنها شهادات حق
              التصويت يتم عند اصدار عدد شهادات استثمار بنفس عدد شهادات التصويت
              عندما يحوز المستثمر على عدد شهادات الاستثمار بنفس عدد شهادات
              التصويت يكون من حقه تلقائيا تحويلها و الحصول على الاسهم المقابلة.
            </p>
          </ul>
          <li class="fs-5">
            القيم المنقولة التي تمثل حقوق مديونية و هي أنواع كذلك.
          </li>
          <ul>
            <li class="fs-5">سندات صفرية أو دون كبونات.</li>
            <li class="fs-5">سندات عادية.</li>
            <li class="fs-5">سندات قابلة للتحول إلى أسهم.</li>
            <li class="fs-5">سندات خاصة و سندات حكوية.</li>
            <li class="fs-5">سندات ذات كبونات الاكتتاب في الاسهم.</li>
          </ul>
        </ul>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
