<footer>
  <div class="footer">
    <div class="row">
      <ul class="d-flex justify-content-center">
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </li>
      </ul>
    </div>

    <div class="row">
      <ul class="d-flex justify-content-center gap-2 flex-wrap">
        <li><a href="{% url 'home' %}#contact">تواصل معنا</a></li>
        <li><a href="{% url 'home' %}#services">خدماتنا</a></li>
        <li><a href="{% url 'home' %}#categories">التصنيفات</a></li>
        <li><a href="{% url 'home' %}#pricing">باقات الاسعار</a></li>
        <li><a href="#">سياسات الخصوصية</a></li>
      </ul>
    </div>

    <div class="row">جميع الحقوق محفوظة © 2024 Inferno - Banking Hub</div>
  </div>
</footer>
